@use './8bit/rick.scss';
@use './8bit/glados.scss';
@use './8bit/morpheus.scss';
@use './8bit/yoda.scss';
@use './8bit/bmo.scss';
@use './8bit/godfather.scss';
@use './8bit/mcgonagall.scss';

$black: #000;
$eee: #eee;
$shadow: rgba(0, 0, 0, 0.1);
$px: 4px;

$bubble-border: 0 -1 * $px $eee, 0 -2 * $px $black, $px 0 $eee,
  $px -1 * $px $black, 2 * $px 0 $black, 0 $px $eee, 0 2 * $px $black,
  -1 * $px 0 $eee, -1 * $px $px $black, -2 * $px 0 $black,
  -1 * $px -1 * $px $black, $px $px $black;

.content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  @media (min-width: 3440px) {
    padding-left: 24%;
    padding-right: 24%;
  }
  &__title {
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 50px;
    &::selection {
      background-color: #ffd369;
      color: #393e46;
    }
  }
  &__desc {
    width: 700px;
    min-height: 100px;
    font-size: 16px;
    text-align: left;
    &::selection {
      background-color: #ffd369;
      color: #393e46;
    }
    & p,
    & b {
      &::selection {
        background-color: #ffd369;
        color: #393e46;
      }
    }
    & b {
      color: #ffd369;
      font-weight: 600;
    }
  }

  &__bit {
    min-height: 350px;
    width: 50%;
    position: relative;
    &__text {
      font-family: 'Pixeloid';
      font-weight: 600;
      text-align: left;
      font-size: 12px;
      color: #393e46;
      &::selection {
        background-color: #ffd369;
        color: #393e46;
      }
      & div {
        &::selection {
          background-color: #ffd369;
          color: #393e46;
        }
      }
    }
  }
  &__item {
    min-height: 350px;
    border-radius: 10px;
    width: 50%;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    & h4 {
      font-size: 18px;
      text-align: left;
      margin-bottom: 0;
      &::selection {
        background-color: #ffd369;
        color: #393e46;
      }
    }
    & p {
      font-size: 14px;
      text-align: left;
      font-weight: 300;
      color: #ffd369;
      &::selection {
        background-color: #ffd369;
        color: #393e46;
      }
    }
    & ul {
      list-style: none;
      font-size: 16px;
      text-align: left;
      & li {
        & span {
          color: #ffd369;
          &::selection {
            background-color: #ffd369;
            color: #393e46;
          }
        }
        &::before {
          content: '\25AA';
          color: #ffd369;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
    }

    &__row {
      display: flex;
      align-items: center;
      gap: 100px;
      width: 100%;
    }
  }
}
.title_back_color {
  padding: 0px 0;
  color: #393e46;
  background: #ffd369;
  box-shadow: 7px 0 #ffd369, -7px 0 #ffd369;
  &::selection {
    background-color: #ffd369;
    color: #393e46;
  }
}

.bubble {
  // position: relative;
  display: inline-block;
  margin: 5 * $px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  line-height: 1.3em;
  // letter-spacing: -0.04em;
  background-color: $eee;
  color: $black;
  padding: 3 * $px;
  box-shadow: $bubble-border;

  box-sizing: border-box;
  width: 200px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
  }

  &.shadow {
    box-shadow: $bubble-border, $px 3 * $px $shadow, 3 * $px $px $shadow,
      2 * $px 2 * $px $shadow;
  }

  &.mini {
    width: 110px;
    font-size: 16px;
    padding: 4px;
    font-family: monospace;
  }
  &.large {
    width: 560px;
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
  }
  &.grow {
    width: initial;
  }

  &.top::after {
    height: $px;
    width: $px;
    top: -2 * $px;
    left: 8 * $px;
    box-shadow: 0 -1 * $px $black, 0 -2 * $px $black, 0 -3 * $px $black,
      0 -4 * $px $black, -1 * $px -3 * $px $black, -2 * $px -2 * $px $black,
      -3 * $px -1 * $px $black, -1 * $px -1 * $px $eee, -2 * $px -1 * $px $eee,
      -1 * $px -2 * $px $eee, -1 * $px 0 $eee, -2 * $px 0 $eee, -3 * $px 0 $eee;
  }

  &.right::after {
    height: $px;
    width: $px;
    top: 9 * $px;
    right: -2 * $px;
    background: white;
    box-shadow: 1 * $px -1 * $px $eee, 1 * $px 0 $eee, 2 * $px 0 $eee,
      0 -2 * $px $eee, 1 * $px 1 * $px $black, 2 * $px 1 * $px $black,
      3 * $px 1 * $px $black, 4 * $px 1 * $px $black, 3 * $px 0 $black,
      2 * $px -1 * $px $black, 1 * $px -2 * $px $black, 0 -1 * $px $eee;
  }

  &.bottom::after {
    height: $px;
    width: $px;
    bottom: -2 * $px;
    left: 8 * $px;
    box-shadow: 0 $px $black, 0 2 * $px $black, 0 3 * $px $black,
      0 4 * $px $black, -1 * $px 3 * $px $black, -2 * $px 2 * $px $black,
      -3 * $px 1 * $px $black, -1 * $px $px $eee, -2 * $px $px $eee,
      -1 * $px 2 * $px $eee, -1 * $px 0 $eee, -2 * $px 0 $eee, -3 * $px 0 $eee;
  }

  &.left::after {
    height: $px;
    width: $px;
    top: 5 * $px;
    left: -2 * $px;
    background: white;
    box-shadow: -1 * $px -1 * $px $eee, -1 * $px 0 $eee, -2 * $px 0 $eee,
      0 -2 * $px $eee, -1 * $px 1 * $px $black, -2 * $px 1 * $px $black,
      -3 * $px 1 * $px $black, -4 * $px 1 * $px $black, -3 * $px 0 $black,
      -2 * $px -1 * $px $black, -1 * $px -2 * $px $black, 0 -1 * $px $eee;
  }
}
