$width-glados: 7px;

$black-glados: #211f1f;
$orange-glados: #ffaf36;
$gray-black-glados: #595652;
$gray-glados: #d2d2d2;
$gray-blue-glados: #9badb7;

.glados {
  width: $width-glados;
  height: $width-glados;
  position: absolute;
  top: 0;
  right: 15em;
  box-shadow: (4 * $width-glados) (1 * $width-glados) 0 $black-glados,
    (5 * $width-glados) (1 * $width-glados) 0 $black-glados,
    (6 * $width-glados) (1 * $width-glados) 0 $orange-glados,
    (7 * $width-glados) (1 * $width-glados) 0 $black-glados,
    (8 * $width-glados) (1 * $width-glados) 0 $black-glados,
    (9 * $width-glados) (1 * $width-glados) 0 $orange-glados,
    (10 * $width-glados) (1 * $width-glados) 0 $black-glados,
    (11 * $width-glados) (1 * $width-glados) 0 $black-glados,
    (12 * $width-glados) (1 * $width-glados) 0 $orange-glados,
    (4 * $width-glados) (2 * $width-glados) 0 $black-glados,
    (5 * $width-glados) (2 * $width-glados) 0 $black-glados,
    (6 * $width-glados) (2 * $width-glados) 0 $orange-glados,
    (7 * $width-glados) (2 * $width-glados) 0 $black-glados,
    (8 * $width-glados) (2 * $width-glados) 0 $black-glados,
    (9 * $width-glados) (2 * $width-glados) 0 $orange-glados,
    (10 * $width-glados) (2 * $width-glados) 0 $black-glados,
    (11 * $width-glados) (2 * $width-glados) 0 $black-glados,
    (12 * $width-glados) (2 * $width-glados) 0 $orange-glados,
    (4 * $width-glados) (3 * $width-glados) 0 $black-glados,
    (5 * $width-glados) (3 * $width-glados) 0 $black-glados,
    (6 * $width-glados) (3 * $width-glados) 0 $black-glados,
    (7 * $width-glados) (3 * $width-glados) 0 $orange-glados,
    (8 * $width-glados) (3 * $width-glados) 0 $black-glados,
    (9 * $width-glados) (3 * $width-glados) 0 $black-glados,
    (10 * $width-glados) (3 * $width-glados) 0 $orange-glados,
    (11 * $width-glados) (3 * $width-glados) 0 $black-glados,
    (13 * $width-glados) (3 * $width-glados) 0 $orange-glados,
    (4 * $width-glados) (4 * $width-glados) 0 $black-glados,
    (5 * $width-glados) (4 * $width-glados) 0 $black-glados,
    (6 * $width-glados) (4 * $width-glados) 0 $black-glados,
    (7 * $width-glados) (4 * $width-glados) 0 $orange-glados,
    (8 * $width-glados) (4 * $width-glados) 0 $black-glados,
    (9 * $width-glados) (4 * $width-glados) 0 $black-glados,
    (10 * $width-glados) (4 * $width-glados) 0 $orange-glados,
    (11 * $width-glados) (4 * $width-glados) 0 $black-glados,
    (13 * $width-glados) (4 * $width-glados) 0 $orange-glados,
    (4 * $width-glados) (5 * $width-glados) 0 $black-glados,
    (5 * $width-glados) (5 * $width-glados) 0 $black-glados,
    (6 * $width-glados) (5 * $width-glados) 0 $black-glados,
    (7 * $width-glados) (5 * $width-glados) 0 $orange-glados,
    (8 * $width-glados) (5 * $width-glados) 0 $black-glados,
    (9 * $width-glados) (5 * $width-glados) 0 $black-glados,
    (10 * $width-glados) (5 * $width-glados) 0 $orange-glados,
    (11 * $width-glados) (5 * $width-glados) 0 $black-glados,
    (13 * $width-glados) (5 * $width-glados) 0 $orange-glados,
    (4 * $width-glados) (6 * $width-glados) 0 $black-glados,
    (5 * $width-glados) (6 * $width-glados) 0 $black-glados,
    (6 * $width-glados) (6 * $width-glados) 0 $orange-glados,
    (7 * $width-glados) (6 * $width-glados) 0 $black-glados,
    (8 * $width-glados) (6 * $width-glados) 0 $black-glados,
    (9 * $width-glados) (6 * $width-glados) 0 $orange-glados,
    (10 * $width-glados) (6 * $width-glados) 0 $black-glados,
    (11 * $width-glados) (6 * $width-glados) 0 $black-glados,
    (12 * $width-glados) (6 * $width-glados) 0 $orange-glados,
    (4 * $width-glados) (7 * $width-glados) 0 $black-glados,
    (5 * $width-glados) (7 * $width-glados) 0 $black-glados,
    (6 * $width-glados) (7 * $width-glados) 0 $orange-glados,
    (7 * $width-glados) (7 * $width-glados) 0 $black-glados,
    (8 * $width-glados) (7 * $width-glados) 0 $black-glados,
    (9 * $width-glados) (7 * $width-glados) 0 $orange-glados,
    (10 * $width-glados) (7 * $width-glados) 0 $black-glados,
    (11 * $width-glados) (7 * $width-glados) 0 $black-glados,
    (12 * $width-glados) (7 * $width-glados) 0 $orange-glados,
    (4 * $width-glados) (8 * $width-glados) 0 $black-glados,
    (5 * $width-glados) (8 * $width-glados) 0 $black-glados,
    (6 * $width-glados) (8 * $width-glados) 0 $orange-glados,
    (7 * $width-glados) (8 * $width-glados) 0 $black-glados,
    (8 * $width-glados) (8 * $width-glados) 0 $black-glados,
    (9 * $width-glados) (8 * $width-glados) 0 $orange-glados,
    (10 * $width-glados) (8 * $width-glados) 0 $black-glados,
    (11 * $width-glados) (8 * $width-glados) 0 $black-glados,
    (12 * $width-glados) (8 * $width-glados) 0 $orange-glados,
    (2 * $width-glados) (9 * $width-glados) 0 $gray-black-glados,
    (3 * $width-glados) (9 * $width-glados) 0 $gray-black-glados,
    (4 * $width-glados) (9 * $width-glados) 0 $gray-black-glados,
    (5 * $width-glados) (9 * $width-glados) 0 $gray-black-glados,
    (6 * $width-glados) (9 * $width-glados) 0 $gray-black-glados,
    (7 * $width-glados) (9 * $width-glados) 0 $gray-black-glados,
    (8 * $width-glados) (9 * $width-glados) 0 $gray-black-glados,
    (9 * $width-glados) (9 * $width-glados) 0 $gray-black-glados,
    (10 * $width-glados) (9 * $width-glados) 0 $gray-black-glados,
    (11 * $width-glados) (9 * $width-glados) 0 $gray-black-glados,
    (12 * $width-glados) (9 * $width-glados) 0 $gray-black-glados,
    (13 * $width-glados) (9 * $width-glados) 0 $gray-black-glados,
    (2 * $width-glados) (10 * $width-glados) 0 $gray-black-glados,
    (3 * $width-glados) (10 * $width-glados) 0 $gray-black-glados,
    (4 * $width-glados) (10 * $width-glados) 0 $gray-black-glados,
    (5 * $width-glados) (10 * $width-glados) 0 $gray-black-glados,
    (6 * $width-glados) (10 * $width-glados) 0 $gray-glados,
    (7 * $width-glados) (10 * $width-glados) 0 $gray-glados,
    (8 * $width-glados) (10 * $width-glados) 0 $gray-glados,
    (9 * $width-glados) (10 * $width-glados) 0 $gray-glados,
    (10 * $width-glados) (10 * $width-glados) 0 $gray-glados,
    (11 * $width-glados) (10 * $width-glados) 0 $gray-glados,
    (12 * $width-glados) (10 * $width-glados) 0 $gray-glados,
    (13 * $width-glados) (10 * $width-glados) 0 $gray-glados,
    (14 * $width-glados) (10 * $width-glados) 0 $gray-glados,
    (2 * $width-glados) (11 * $width-glados) 0 $gray-black-glados,
    (3 * $width-glados) (11 * $width-glados) 0 $gray-black-glados,
    (4 * $width-glados) (11 * $width-glados) 0 $gray-black-glados,
    (5 * $width-glados) (11 * $width-glados) 0 $gray-glados,
    (6 * $width-glados) (11 * $width-glados) 0 $gray-glados,
    (7 * $width-glados) (11 * $width-glados) 0 $gray-blue-glados,
    (8 * $width-glados) (11 * $width-glados) 0 $gray-blue-glados,
    (9 * $width-glados) (11 * $width-glados) 0 $gray-blue-glados,
    (10 * $width-glados) (11 * $width-glados) 0 $gray-blue-glados,
    (11 * $width-glados) (11 * $width-glados) 0 $gray-blue-glados,
    (12 * $width-glados) (11 * $width-glados) 0 $gray-blue-glados,
    (13 * $width-glados) (11 * $width-glados) 0 $gray-blue-glados,
    (14 * $width-glados) (11 * $width-glados) 0 $gray-glados,
    (15 * $width-glados) (11 * $width-glados) 0 $gray-glados,
    (2 * $width-glados) (12 * $width-glados) 0 $gray-black-glados,
    (3 * $width-glados) (12 * $width-glados) 0 $gray-black-glados,
    (4 * $width-glados) (12 * $width-glados) 0 $gray-black-glados,
    (5 * $width-glados) (12 * $width-glados) 0 $gray-glados,
    (6 * $width-glados) (12 * $width-glados) 0 $gray-glados,
    (7 * $width-glados) (12 * $width-glados) 0 $gray-glados,
    (8 * $width-glados) (12 * $width-glados) 0 $gray-glados,
    (9 * $width-glados) (12 * $width-glados) 0 $gray-glados,
    (10 * $width-glados) (12 * $width-glados) 0 $gray-glados,
    (11 * $width-glados) (12 * $width-glados) 0 $gray-glados,
    (12 * $width-glados) (12 * $width-glados) 0 $gray-glados,
    (13 * $width-glados) (12 * $width-glados) 0 $gray-glados,
    (14 * $width-glados) (12 * $width-glados) 0 $gray-glados,
    (15 * $width-glados) (12 * $width-glados) 0 $gray-glados,
    (3 * $width-glados) (13 * $width-glados) 0 $gray-black-glados,
    (4 * $width-glados) (13 * $width-glados) 0 $gray-black-glados,
    (5 * $width-glados) (13 * $width-glados) 0 $gray-glados,
    (6 * $width-glados) (13 * $width-glados) 0 $gray-glados,
    (7 * $width-glados) (13 * $width-glados) 0 $gray-glados,
    (8 * $width-glados) (13 * $width-glados) 0 $gray-glados,
    (9 * $width-glados) (13 * $width-glados) 0 $gray-glados,
    (10 * $width-glados) (13 * $width-glados) 0 $gray-glados,
    (11 * $width-glados) (13 * $width-glados) 0 $gray-glados,
    (12 * $width-glados) (13 * $width-glados) 0 $gray-glados,
    (13 * $width-glados) (13 * $width-glados) 0 $gray-glados,
    (14 * $width-glados) (13 * $width-glados) 0 $gray-glados,
    (15 * $width-glados) (13 * $width-glados) 0 $gray-glados,
    (4 * $width-glados) (14 * $width-glados) 0 $gray-black-glados,
    (5 * $width-glados) (14 * $width-glados) 0 $gray-black-glados,
    (6 * $width-glados) (14 * $width-glados) 0 $gray-black-glados,
    (7 * $width-glados) (14 * $width-glados) 0 $orange-glados,
    (8 * $width-glados) (14 * $width-glados) 0 $black-glados,
    (9 * $width-glados) (14 * $width-glados) 0 $black-glados,
    (10 * $width-glados) (14 * $width-glados) 0 $orange-glados,
    (11 * $width-glados) (14 * $width-glados) 0 $black-glados,
    (12 * $width-glados) (14 * $width-glados) 0 $black-glados,
    (13 * $width-glados) (14 * $width-glados) 0 $orange-glados,
    (6 * $width-glados) (15 * $width-glados) 0 $black-glados,
    (7 * $width-glados) (15 * $width-glados) 0 $black-glados,
    (8 * $width-glados) (15 * $width-glados) 0 $orange-glados,
    (9 * $width-glados) (15 * $width-glados) 0 $black-glados,
    (10 * $width-glados) (15 * $width-glados) 0 $black-glados,
    (11 * $width-glados) (15 * $width-glados) 0 $orange-glados,
    (12 * $width-glados) (15 * $width-glados) 0 $black-glados,
    (13 * $width-glados) (15 * $width-glados) 0 $black-glados,
    (14 * $width-glados) (15 * $width-glados) 0 $orange-glados,
    (5 * $width-glados) (16 * $width-glados) 0 $black-glados,
    (6 * $width-glados) (16 * $width-glados) 0 $black-glados,
    (7 * $width-glados) (16 * $width-glados) 0 $black-glados,
    (8 * $width-glados) (16 * $width-glados) 0 $black-glados,
    (9 * $width-glados) (16 * $width-glados) 0 $orange-glados,
    (10 * $width-glados) (16 * $width-glados) 0 $black-glados,
    (11 * $width-glados) (16 * $width-glados) 0 $black-glados,
    (12 * $width-glados) (16 * $width-glados) 0 $orange-glados,
    (13 * $width-glados) (16 * $width-glados) 0 $black-glados,
    (14 * $width-glados) (16 * $width-glados) 0 $black-glados,
    (15 * $width-glados) (16 * $width-glados) 0 $orange-glados,
    (5 * $width-glados) (17 * $width-glados) 0 $black-glados,
    (6 * $width-glados) (17 * $width-glados) 0 $black-glados,
    (7 * $width-glados) (17 * $width-glados) 0 $black-glados,
    (8 * $width-glados) (17 * $width-glados) 0 $black-glados,
    (9 * $width-glados) (17 * $width-glados) 0 $orange-glados,
    (10 * $width-glados) (17 * $width-glados) 0 $black-glados,
    (11 * $width-glados) (17 * $width-glados) 0 $black-glados,
    (12 * $width-glados) (17 * $width-glados) 0 $orange-glados,
    (13 * $width-glados) (17 * $width-glados) 0 $black-glados,
    (14 * $width-glados) (17 * $width-glados) 0 $black-glados,
    (15 * $width-glados) (17 * $width-glados) 0 $orange-glados,
    (4 * $width-glados) (18 * $width-glados) 0 $gray-blue-glados,
    (5 * $width-glados) (18 * $width-glados) 0 $black-glados,
    (6 * $width-glados) (18 * $width-glados) 0 $black-glados,
    (7 * $width-glados) (18 * $width-glados) 0 $black-glados,
    (8 * $width-glados) (18 * $width-glados) 0 $black-glados,
    (9 * $width-glados) (18 * $width-glados) 0 $orange-glados,
    (10 * $width-glados) (18 * $width-glados) 0 $black-glados,
    (11 * $width-glados) (18 * $width-glados) 0 $black-glados,
    (12 * $width-glados) (18 * $width-glados) 0 $orange-glados,
    (13 * $width-glados) (18 * $width-glados) 0 $black-glados,
    (14 * $width-glados) (18 * $width-glados) 0 $black-glados,
    (15 * $width-glados) (18 * $width-glados) 0 $orange-glados;
}
