$width-godfather: 10px;
$width-money: 6px;

$hair1-godfather: #c4cbcf;
$hair2-godfather: #96afaf;
$hair3-godfather: #7d9394;
$skin-godfather: #f8e4bc;
$skin-shadow-godfather: #e2cb9c;
$black-godfather: #1e1e1e;
$nose-godfather: #ff747e;
$cat1-godfather: #7d9394;
$cat2-godfather: #c3cbcf;
$cat-eye-godfather: #ffb100;
$jaket-godfather: #222222;
$jaket-shadow-godfather: #1c1c1c;
$shirt-godfather: #eef2f3;
$shirt-shadow-godfather: #c4cbcf;
$tie-godfather: #b68b72;
$red-godfather: #e73222;

$green-money: #d6e3c5;
$green2-money: #abb59e;
$green3-money: #838d7b;
$bag1-money: #cdcac3;
$bag2-money: #f4efe9;
$bag3-money: #8f8e89;
$bag4-money: #b4b1a8;
$doll-money: #8e8b86;

.godfather {
  width: $width-godfather;
  height: $width-godfather;
  position: absolute;
  top: 35px;
  left: 23%;
  @media (max-width: 1366px) {
    left: 5%;
  }
  &__dialog {
    position: absolute;
    left: 51%;
    top: 20px;
    @media (max-width: 1600px) {
      left: 55%;
    }
    @media (max-width: 1366px) {
      left: 40%;
    }
  }
  &__money {
    position: absolute;
    width: $width-money;
    height: $width-money;
    left: 115px;
    top: 103px;
    box-shadow: (8 * $width-money) (1 * $width-money) 0 $green-money,
      (9 * $width-money) (1 * $width-money) 0 $green-money,
      (15 * $width-money) (1 * $width-money) 0 $green2-money,
      (20 * $width-money) (1 * $width-money) 0 $green-money,
      (6 * $width-money) (2 * $width-money) 0 $green-money,
      (7 * $width-money) (2 * $width-money) 0 $green-money,
      (8 * $width-money) (2 * $width-money) 0 $green2-money,
      (9 * $width-money) (2 * $width-money) 0 $green-money,
      (10 * $width-money) (2 * $width-money) 0 $green-money,
      (13 * $width-money) (2 * $width-money) 0 $green2-money,
      (14 * $width-money) (2 * $width-money) 0 $green-money,
      (15 * $width-money) (2 * $width-money) 0 $green-money,
      (16 * $width-money) (2 * $width-money) 0 $green2-money,
      (18 * $width-money) (2 * $width-money) 0 $green-money,
      (19 * $width-money) (2 * $width-money) 0 $green-money,
      (20 * $width-money) (2 * $width-money) 0 $green-money,
      (21 * $width-money) (2 * $width-money) 0 $green-money,
      (5 * $width-money) (3 * $width-money) 0 $green-money,
      (6 * $width-money) (3 * $width-money) 0 $green-money,
      (7 * $width-money) (3 * $width-money) 0 $green2-money,
      (8 * $width-money) (3 * $width-money) 0 $green3-money,
      (9 * $width-money) (3 * $width-money) 0 $green-money,
      (10 * $width-money) (3 * $width-money) 0 $green-money,
      (11 * $width-money) (3 * $width-money) 0 $green-money,
      (12 * $width-money) (3 * $width-money) 0 $green3-money,
      (13 * $width-money) (3 * $width-money) 0 $green-money,
      (14 * $width-money) (3 * $width-money) 0 $green2-money,
      (15 * $width-money) (3 * $width-money) 0 $green3-money,
      (16 * $width-money) (3 * $width-money) 0 $green2-money,
      (17 * $width-money) (3 * $width-money) 0 $green2-money,
      (18 * $width-money) (3 * $width-money) 0 $green-money,
      (19 * $width-money) (3 * $width-money) 0 $green2-money,
      (20 * $width-money) (3 * $width-money) 0 $green2-money,
      (21 * $width-money) (3 * $width-money) 0 $green2-money,
      (22 * $width-money) (3 * $width-money) 0 $green-money,
      (23 * $width-money) (3 * $width-money) 0 $bag4-money,
      (4 * $width-money) (4 * $width-money) 0 $bag2-money,
      (5 * $width-money) (4 * $width-money) 0 $green-money,
      (6 * $width-money) (4 * $width-money) 0 $green2-money,
      (7 * $width-money) (4 * $width-money) 0 $green3-money,
      (8 * $width-money) (4 * $width-money) 0 $green-money,
      (9 * $width-money) (4 * $width-money) 0 $green-money,
      (10 * $width-money) (4 * $width-money) 0 $green3-money,
      (11 * $width-money) (4 * $width-money) 0 $green2-money,
      (12 * $width-money) (4 * $width-money) 0 $green3-money,
      (13 * $width-money) (4 * $width-money) 0 $green-money,
      (14 * $width-money) (4 * $width-money) 0 $green3-money,
      (15 * $width-money) (4 * $width-money) 0 $green2-money,
      (16 * $width-money) (4 * $width-money) 0 $green3-money,
      (17 * $width-money) (4 * $width-money) 0 $green-money,
      (18 * $width-money) (4 * $width-money) 0 $green2-money,
      (19 * $width-money) (4 * $width-money) 0 $green3-money,
      (20 * $width-money) (4 * $width-money) 0 $green2-money,
      (21 * $width-money) (4 * $width-money) 0 $green3-money,
      (22 * $width-money) (4 * $width-money) 0 $green2-money,
      (23 * $width-money) (4 * $width-money) 0 $green-money,
      (24 * $width-money) (4 * $width-money) 0 $bag4-money,
      (3 * $width-money) (5 * $width-money) 0 $bag2-money,
      (4 * $width-money) (5 * $width-money) 0 $bag2-money,
      (5 * $width-money) (5 * $width-money) 0 $green2-money,
      (6 * $width-money) (5 * $width-money) 0 $green3-money,
      (7 * $width-money) (5 * $width-money) 0 $green3-money,
      (8 * $width-money) (5 * $width-money) 0 $green-money,
      (9 * $width-money) (5 * $width-money) 0 $green3-money,
      (10 * $width-money) (5 * $width-money) 0 $green2-money,
      (11 * $width-money) (5 * $width-money) 0 $green3-money,
      (12 * $width-money) (5 * $width-money) 0 $green2-money,
      (13 * $width-money) (5 * $width-money) 0 $green3-money,
      (14 * $width-money) (5 * $width-money) 0 $green-money,
      (15 * $width-money) (5 * $width-money) 0 $green2-money,
      (16 * $width-money) (5 * $width-money) 0 $green2-money,
      (17 * $width-money) (5 * $width-money) 0 $green3-money,
      (18 * $width-money) (5 * $width-money) 0 $green-money,
      (19 * $width-money) (5 * $width-money) 0 $green3-money,
      (20 * $width-money) (5 * $width-money) 0 $green3-money,
      (21 * $width-money) (5 * $width-money) 0 $green2-money,
      (22 * $width-money) (5 * $width-money) 0 $bag1-money,
      (23 * $width-money) (5 * $width-money) 0 $bag1-money,
      (24 * $width-money) (5 * $width-money) 0 $bag1-money,
      (25 * $width-money) (5 * $width-money) 0 $bag3-money,
      (3 * $width-money) (6 * $width-money) 0 $bag2-money,
      (4 * $width-money) (6 * $width-money) 0 $bag1-money,
      (5 * $width-money) (6 * $width-money) 0 $bag2-money,
      (6 * $width-money) (6 * $width-money) 0 $bag2-money,
      (7 * $width-money) (6 * $width-money) 0 $bag2-money,
      (8 * $width-money) (6 * $width-money) 0 $green3-money,
      (9 * $width-money) (6 * $width-money) 0 $green2-money,
      (10 * $width-money) (6 * $width-money) 0 $green3-money,
      (11 * $width-money) (6 * $width-money) 0 $green3-money,
      (12 * $width-money) (6 * $width-money) 0 $green2-money,
      (13 * $width-money) (6 * $width-money) 0 $green3-money,
      (14 * $width-money) (6 * $width-money) 0 $green3-money,
      (15 * $width-money) (6 * $width-money) 0 $green-money,
      (16 * $width-money) (6 * $width-money) 0 $green3-money,
      (17 * $width-money) (6 * $width-money) 0 $green2-money,
      (18 * $width-money) (6 * $width-money) 0 $bag2-money,
      (19 * $width-money) (6 * $width-money) 0 $bag2-money,
      (20 * $width-money) (6 * $width-money) 0 $bag2-money,
      (21 * $width-money) (6 * $width-money) 0 $bag2-money,
      (22 * $width-money) (6 * $width-money) 0 $bag1-money,
      (23 * $width-money) (6 * $width-money) 0 $bag4-money,
      (24 * $width-money) (6 * $width-money) 0 $bag1-money,
      (25 * $width-money) (6 * $width-money) 0 $bag4-money,
      (3 * $width-money) (7 * $width-money) 0 $bag2-money,
      (4 * $width-money) (7 * $width-money) 0 $bag2-money,
      (5 * $width-money) (7 * $width-money) 0 $bag1-money,
      (6 * $width-money) (7 * $width-money) 0 $bag1-money,
      (7 * $width-money) (7 * $width-money) 0 $bag4-money,
      (8 * $width-money) (7 * $width-money) 0 $bag2-money,
      (9 * $width-money) (7 * $width-money) 0 $bag2-money,
      (10 * $width-money) (7 * $width-money) 0 $bag2-money,
      (11 * $width-money) (7 * $width-money) 0 $bag2-money,
      (12 * $width-money) (7 * $width-money) 0 $bag2-money,
      (13 * $width-money) (7 * $width-money) 0 $bag2-money,
      (14 * $width-money) (7 * $width-money) 0 $bag2-money,
      (15 * $width-money) (7 * $width-money) 0 $bag2-money,
      (16 * $width-money) (7 * $width-money) 0 $bag2-money,
      (17 * $width-money) (7 * $width-money) 0 $bag2-money,
      (18 * $width-money) (7 * $width-money) 0 $bag2-money,
      (19 * $width-money) (7 * $width-money) 0 $bag1-money,
      (20 * $width-money) (7 * $width-money) 0 $bag4-money,
      (21 * $width-money) (7 * $width-money) 0 $bag1-money,
      (22 * $width-money) (7 * $width-money) 0 $bag1-money,
      (23 * $width-money) (7 * $width-money) 0 $bag1-money,
      (24 * $width-money) (7 * $width-money) 0 $bag4-money,
      (25 * $width-money) (7 * $width-money) 0 $bag3-money,
      (3 * $width-money) (8 * $width-money) 0 $bag2-money,
      (4 * $width-money) (8 * $width-money) 0 $bag2-money,
      (5 * $width-money) (8 * $width-money) 0 $bag2-money,
      (6 * $width-money) (8 * $width-money) 0 $bag2-money,
      (7 * $width-money) (8 * $width-money) 0 $bag2-money,
      (8 * $width-money) (8 * $width-money) 0 $bag1-money,
      (9 * $width-money) (8 * $width-money) 0 $bag1-money,
      (10 * $width-money) (8 * $width-money) 0 $bag1-money,
      (11 * $width-money) (8 * $width-money) 0 $bag1-money,
      (12 * $width-money) (8 * $width-money) 0 $bag1-money,
      (13 * $width-money) (8 * $width-money) 0 $bag1-money,
      (14 * $width-money) (8 * $width-money) 0 $bag1-money,
      (15 * $width-money) (8 * $width-money) 0 $bag1-money,
      (16 * $width-money) (8 * $width-money) 0 $bag1-money,
      (17 * $width-money) (8 * $width-money) 0 $bag1-money,
      (18 * $width-money) (8 * $width-money) 0 $bag1-money,
      (19 * $width-money) (8 * $width-money) 0 $bag4-money,
      (20 * $width-money) (8 * $width-money) 0 $bag1-money,
      (21 * $width-money) (8 * $width-money) 0 $bag2-money,
      (22 * $width-money) (8 * $width-money) 0 $bag1-money,
      (23 * $width-money) (8 * $width-money) 0 $bag4-money,
      (24 * $width-money) (8 * $width-money) 0 $bag3-money,
      (4 * $width-money) (9 * $width-money) 0 $bag2-money,
      (5 * $width-money) (9 * $width-money) 0 $bag2-money,
      (6 * $width-money) (9 * $width-money) 0 $bag2-money,
      (7 * $width-money) (9 * $width-money) 0 $bag2-money,
      (8 * $width-money) (9 * $width-money) 0 $bag2-money,
      (9 * $width-money) (9 * $width-money) 0 $bag2-money,
      (10 * $width-money) (9 * $width-money) 0 $bag2-money,
      (11 * $width-money) (9 * $width-money) 0 $bag2-money,
      (12 * $width-money) (9 * $width-money) 0 $bag2-money,
      (13 * $width-money) (9 * $width-money) 0 $bag2-money,
      (14 * $width-money) (9 * $width-money) 0 $bag2-money,
      (15 * $width-money) (9 * $width-money) 0 $bag2-money,
      (16 * $width-money) (9 * $width-money) 0 $bag2-money,
      (17 * $width-money) (9 * $width-money) 0 $bag2-money,
      (18 * $width-money) (9 * $width-money) 0 $bag2-money,
      (19 * $width-money) (9 * $width-money) 0 $bag2-money,
      (20 * $width-money) (9 * $width-money) 0 $bag2-money,
      (21 * $width-money) (9 * $width-money) 0 $bag1-money,
      (22 * $width-money) (9 * $width-money) 0 $bag2-money,
      (23 * $width-money) (9 * $width-money) 0 $bag4-money,
      (4 * $width-money) (10 * $width-money) 0 $bag1-money,
      (5 * $width-money) (10 * $width-money) 0 $bag2-money,
      (6 * $width-money) (10 * $width-money) 0 $bag2-money,
      (7 * $width-money) (10 * $width-money) 0 $bag2-money,
      (8 * $width-money) (10 * $width-money) 0 $bag2-money,
      (9 * $width-money) (10 * $width-money) 0 $bag2-money,
      (10 * $width-money) (10 * $width-money) 0 $bag2-money,
      (11 * $width-money) (10 * $width-money) 0 $bag2-money,
      (12 * $width-money) (10 * $width-money) 0 $bag2-money,
      (13 * $width-money) (10 * $width-money) 0 $bag2-money,
      (14 * $width-money) (10 * $width-money) 0 $bag2-money,
      (15 * $width-money) (10 * $width-money) 0 $bag2-money,
      (16 * $width-money) (10 * $width-money) 0 $bag2-money,
      (17 * $width-money) (10 * $width-money) 0 $bag2-money,
      (18 * $width-money) (10 * $width-money) 0 $bag2-money,
      (19 * $width-money) (10 * $width-money) 0 $bag1-money,
      (20 * $width-money) (10 * $width-money) 0 $bag2-money,
      (21 * $width-money) (10 * $width-money) 0 $bag1-money,
      (22 * $width-money) (10 * $width-money) 0 $bag1-money,
      (23 * $width-money) (10 * $width-money) 0 $bag3-money,
      (5 * $width-money) (11 * $width-money) 0 $bag1-money,
      (6 * $width-money) (11 * $width-money) 0 $bag2-money,
      (7 * $width-money) (11 * $width-money) 0 $bag2-money,
      (8 * $width-money) (11 * $width-money) 0 $bag2-money,
      (9 * $width-money) (11 * $width-money) 0 $bag2-money,
      (10 * $width-money) (11 * $width-money) 0 $bag2-money,
      (11 * $width-money) (11 * $width-money) 0 $doll-money,
      (12 * $width-money) (11 * $width-money) 0 $bag2-money,
      (13 * $width-money) (11 * $width-money) 0 $bag2-money,
      (14 * $width-money) (11 * $width-money) 0 $doll-money,
      (15 * $width-money) (11 * $width-money) 0 $bag2-money,
      (16 * $width-money) (11 * $width-money) 0 $bag2-money,
      (17 * $width-money) (11 * $width-money) 0 $bag2-money,
      (18 * $width-money) (11 * $width-money) 0 $bag2-money,
      (19 * $width-money) (11 * $width-money) 0 $bag2-money,
      (20 * $width-money) (11 * $width-money) 0 $bag1-money,
      (21 * $width-money) (11 * $width-money) 0 $bag2-money,
      (22 * $width-money) (11 * $width-money) 0 $bag4-money,
      (5 * $width-money) (12 * $width-money) 0 $bag2-money,
      (6 * $width-money) (12 * $width-money) 0 $bag2-money,
      (7 * $width-money) (12 * $width-money) 0 $bag2-money,
      (8 * $width-money) (12 * $width-money) 0 $bag2-money,
      (9 * $width-money) (12 * $width-money) 0 $bag2-money,
      (10 * $width-money) (12 * $width-money) 0 $doll-money,
      (11 * $width-money) (12 * $width-money) 0 $doll-money,
      (12 * $width-money) (12 * $width-money) 0 $doll-money,
      (13 * $width-money) (12 * $width-money) 0 $doll-money,
      (14 * $width-money) (12 * $width-money) 0 $doll-money,
      (15 * $width-money) (12 * $width-money) 0 $doll-money,
      (16 * $width-money) (12 * $width-money) 0 $bag2-money,
      (17 * $width-money) (12 * $width-money) 0 $bag2-money,
      (18 * $width-money) (12 * $width-money) 0 $bag2-money,
      (19 * $width-money) (12 * $width-money) 0 $bag2-money,
      (20 * $width-money) (12 * $width-money) 0 $bag1-money,
      (21 * $width-money) (12 * $width-money) 0 $bag1-money,
      (22 * $width-money) (12 * $width-money) 0 $bag4-money,
      (4 * $width-money) (13 * $width-money) 0 $bag2-money,
      (5 * $width-money) (13 * $width-money) 0 $bag2-money,
      (6 * $width-money) (13 * $width-money) 0 $bag2-money,
      (7 * $width-money) (13 * $width-money) 0 $bag2-money,
      (8 * $width-money) (13 * $width-money) 0 $bag2-money,
      (9 * $width-money) (13 * $width-money) 0 $doll-money,
      (10 * $width-money) (13 * $width-money) 0 $bag1-money,
      (11 * $width-money) (13 * $width-money) 0 $doll-money,
      (12 * $width-money) (13 * $width-money) 0 $bag1-money,
      (13 * $width-money) (13 * $width-money) 0 $bag1-money,
      (14 * $width-money) (13 * $width-money) 0 $doll-money,
      (15 * $width-money) (13 * $width-money) 0 $bag1-money,
      (16 * $width-money) (13 * $width-money) 0 $doll-money,
      (17 * $width-money) (13 * $width-money) 0 $bag2-money,
      (18 * $width-money) (13 * $width-money) 0 $bag2-money,
      (19 * $width-money) (13 * $width-money) 0 $bag1-money,
      (20 * $width-money) (13 * $width-money) 0 $bag1-money,
      (21 * $width-money) (13 * $width-money) 0 $bag1-money,
      (22 * $width-money) (13 * $width-money) 0 $bag4-money,
      (3 * $width-money) (14 * $width-money) 0 $bag1-money,
      (4 * $width-money) (14 * $width-money) 0 $bag2-money,
      (5 * $width-money) (14 * $width-money) 0 $bag2-money,
      (6 * $width-money) (14 * $width-money) 0 $bag2-money,
      (7 * $width-money) (14 * $width-money) 0 $bag2-money,
      (8 * $width-money) (14 * $width-money) 0 $bag2-money,
      (9 * $width-money) (14 * $width-money) 0 $doll-money,
      (10 * $width-money) (14 * $width-money) 0 $bag2-money,
      (11 * $width-money) (14 * $width-money) 0 $doll-money,
      (12 * $width-money) (14 * $width-money) 0 $bag2-money,
      (13 * $width-money) (14 * $width-money) 0 $bag2-money,
      (14 * $width-money) (14 * $width-money) 0 $doll-money,
      (15 * $width-money) (14 * $width-money) 0 $bag2-money,
      (16 * $width-money) (14 * $width-money) 0 $bag1-money,
      (17 * $width-money) (14 * $width-money) 0 $bag2-money,
      (18 * $width-money) (14 * $width-money) 0 $bag2-money,
      (19 * $width-money) (14 * $width-money) 0 $bag2-money,
      (20 * $width-money) (14 * $width-money) 0 $bag1-money,
      (21 * $width-money) (14 * $width-money) 0 $bag2-money,
      (22 * $width-money) (14 * $width-money) 0 $bag4-money,
      (23 * $width-money) (14 * $width-money) 0 $bag3-money,
      (3 * $width-money) (15 * $width-money) 0 $bag2-money,
      (4 * $width-money) (15 * $width-money) 0 $bag2-money,
      (5 * $width-money) (15 * $width-money) 0 $bag2-money,
      (6 * $width-money) (15 * $width-money) 0 $bag2-money,
      (7 * $width-money) (15 * $width-money) 0 $bag2-money,
      (8 * $width-money) (15 * $width-money) 0 $bag2-money,
      (9 * $width-money) (15 * $width-money) 0 $bag1-money,
      (10 * $width-money) (15 * $width-money) 0 $doll-money,
      (11 * $width-money) (15 * $width-money) 0 $doll-money,
      (12 * $width-money) (15 * $width-money) 0 $bag2-money,
      (13 * $width-money) (15 * $width-money) 0 $bag2-money,
      (14 * $width-money) (15 * $width-money) 0 $doll-money,
      (15 * $width-money) (15 * $width-money) 0 $bag2-money,
      (16 * $width-money) (15 * $width-money) 0 $bag2-money,
      (17 * $width-money) (15 * $width-money) 0 $bag2-money,
      (18 * $width-money) (15 * $width-money) 0 $bag2-money,
      (19 * $width-money) (15 * $width-money) 0 $bag2-money,
      (20 * $width-money) (15 * $width-money) 0 $bag1-money,
      (21 * $width-money) (15 * $width-money) 0 $bag1-money,
      (22 * $width-money) (15 * $width-money) 0 $bag1-money,
      (23 * $width-money) (15 * $width-money) 0 $bag4-money,
      (24 * $width-money) (15 * $width-money) 0 $bag3-money,
      (3 * $width-money) (16 * $width-money) 0 $bag2-money,
      (4 * $width-money) (16 * $width-money) 0 $bag2-money,
      (5 * $width-money) (16 * $width-money) 0 $bag2-money,
      (6 * $width-money) (16 * $width-money) 0 $bag2-money,
      (7 * $width-money) (16 * $width-money) 0 $bag2-money,
      (8 * $width-money) (16 * $width-money) 0 $bag2-money,
      (9 * $width-money) (16 * $width-money) 0 $bag2-money,
      (10 * $width-money) (16 * $width-money) 0 $bag1-money,
      (11 * $width-money) (16 * $width-money) 0 $doll-money,
      (12 * $width-money) (16 * $width-money) 0 $doll-money,
      (13 * $width-money) (16 * $width-money) 0 $doll-money,
      (14 * $width-money) (16 * $width-money) 0 $doll-money,
      (15 * $width-money) (16 * $width-money) 0 $doll-money,
      (16 * $width-money) (16 * $width-money) 0 $bag2-money,
      (17 * $width-money) (16 * $width-money) 0 $bag2-money,
      (18 * $width-money) (16 * $width-money) 0 $bag2-money,
      (19 * $width-money) (16 * $width-money) 0 $bag1-money,
      (20 * $width-money) (16 * $width-money) 0 $bag2-money,
      (21 * $width-money) (16 * $width-money) 0 $bag4-money,
      (22 * $width-money) (16 * $width-money) 0 $bag1-money,
      (23 * $width-money) (16 * $width-money) 0 $bag4-money,
      (24 * $width-money) (16 * $width-money) 0 $bag4-money,
      (3 * $width-money) (17 * $width-money) 0 $bag2-money,
      (4 * $width-money) (17 * $width-money) 0 $bag2-money,
      (5 * $width-money) (17 * $width-money) 0 $bag2-money,
      (6 * $width-money) (17 * $width-money) 0 $bag2-money,
      (7 * $width-money) (17 * $width-money) 0 $bag2-money,
      (8 * $width-money) (17 * $width-money) 0 $bag2-money,
      (9 * $width-money) (17 * $width-money) 0 $bag2-money,
      (10 * $width-money) (17 * $width-money) 0 $bag2-money,
      (11 * $width-money) (17 * $width-money) 0 $doll-money,
      (12 * $width-money) (17 * $width-money) 0 $bag1-money,
      (13 * $width-money) (17 * $width-money) 0 $bag1-money,
      (14 * $width-money) (17 * $width-money) 0 $doll-money,
      (15 * $width-money) (17 * $width-money) 0 $bag1-money,
      (16 * $width-money) (17 * $width-money) 0 $doll-money,
      (17 * $width-money) (17 * $width-money) 0 $bag2-money,
      (18 * $width-money) (17 * $width-money) 0 $bag2-money,
      (19 * $width-money) (17 * $width-money) 0 $bag2-money,
      (20 * $width-money) (17 * $width-money) 0 $bag2-money,
      (21 * $width-money) (17 * $width-money) 0 $bag1-money,
      (22 * $width-money) (17 * $width-money) 0 $bag4-money,
      (23 * $width-money) (17 * $width-money) 0 $bag4-money,
      (24 * $width-money) (17 * $width-money) 0 $bag3-money,
      (3 * $width-money) (18 * $width-money) 0 $bag1-money,
      (4 * $width-money) (18 * $width-money) 0 $bag2-money,
      (5 * $width-money) (18 * $width-money) 0 $bag2-money,
      (6 * $width-money) (18 * $width-money) 0 $bag2-money,
      (7 * $width-money) (18 * $width-money) 0 $bag2-money,
      (8 * $width-money) (18 * $width-money) 0 $bag2-money,
      (9 * $width-money) (18 * $width-money) 0 $bag2-money,
      (10 * $width-money) (18 * $width-money) 0 $bag2-money,
      (11 * $width-money) (18 * $width-money) 0 $doll-money,
      (12 * $width-money) (18 * $width-money) 0 $bag2-money,
      (13 * $width-money) (18 * $width-money) 0 $bag2-money,
      (14 * $width-money) (18 * $width-money) 0 $doll-money,
      (15 * $width-money) (18 * $width-money) 0 $bag2-money,
      (16 * $width-money) (18 * $width-money) 0 $doll-money,
      (17 * $width-money) (18 * $width-money) 0 $bag2-money,
      (18 * $width-money) (18 * $width-money) 0 $bag2-money,
      (19 * $width-money) (18 * $width-money) 0 $bag1-money,
      (20 * $width-money) (18 * $width-money) 0 $bag2-money,
      (21 * $width-money) (18 * $width-money) 0 $bag1-money,
      (22 * $width-money) (18 * $width-money) 0 $bag1-money,
      (23 * $width-money) (18 * $width-money) 0 $bag4-money,
      (24 * $width-money) (18 * $width-money) 0 $bag4-money,
      (25 * $width-money) (18 * $width-money) 0 $bag3-money,
      (4 * $width-money) (19 * $width-money) 0 $bag1-money,
      (5 * $width-money) (19 * $width-money) 0 $bag1-money,
      (6 * $width-money) (19 * $width-money) 0 $bag2-money,
      (7 * $width-money) (19 * $width-money) 0 $bag2-money,
      (8 * $width-money) (19 * $width-money) 0 $bag2-money,
      (9 * $width-money) (19 * $width-money) 0 $doll-money,
      (10 * $width-money) (19 * $width-money) 0 $bag2-money,
      (11 * $width-money) (19 * $width-money) 0 $doll-money,
      (12 * $width-money) (19 * $width-money) 0 $bag2-money,
      (13 * $width-money) (19 * $width-money) 0 $bag2-money,
      (14 * $width-money) (19 * $width-money) 0 $doll-money,
      (15 * $width-money) (19 * $width-money) 0 $doll-money,
      (16 * $width-money) (19 * $width-money) 0 $bag1-money,
      (17 * $width-money) (19 * $width-money) 0 $bag2-money,
      (18 * $width-money) (19 * $width-money) 0 $bag1-money,
      (19 * $width-money) (19 * $width-money) 0 $bag2-money,
      (20 * $width-money) (19 * $width-money) 0 $bag1-money,
      (21 * $width-money) (19 * $width-money) 0 $bag1-money,
      (22 * $width-money) (19 * $width-money) 0 $bag4-money,
      (23 * $width-money) (19 * $width-money) 0 $bag1-money,
      (24 * $width-money) (19 * $width-money) 0 $bag4-money,
      (25 * $width-money) (19 * $width-money) 0 $bag3-money,
      (4 * $width-money) (20 * $width-money) 0 $bag2-money,
      (5 * $width-money) (20 * $width-money) 0 $bag2-money,
      (6 * $width-money) (20 * $width-money) 0 $bag2-money,
      (7 * $width-money) (20 * $width-money) 0 $bag2-money,
      (8 * $width-money) (20 * $width-money) 0 $bag2-money,
      (9 * $width-money) (20 * $width-money) 0 $bag1-money,
      (10 * $width-money) (20 * $width-money) 0 $doll-money,
      (11 * $width-money) (20 * $width-money) 0 $doll-money,
      (12 * $width-money) (20 * $width-money) 0 $doll-money,
      (13 * $width-money) (20 * $width-money) 0 $doll-money,
      (14 * $width-money) (20 * $width-money) 0 $doll-money,
      (15 * $width-money) (20 * $width-money) 0 $bag1-money,
      (16 * $width-money) (20 * $width-money) 0 $bag2-money,
      (17 * $width-money) (20 * $width-money) 0 $bag2-money,
      (18 * $width-money) (20 * $width-money) 0 $bag2-money,
      (19 * $width-money) (20 * $width-money) 0 $bag1-money,
      (20 * $width-money) (20 * $width-money) 0 $bag2-money,
      (21 * $width-money) (20 * $width-money) 0 $bag1-money,
      (22 * $width-money) (20 * $width-money) 0 $bag4-money,
      (23 * $width-money) (20 * $width-money) 0 $bag4-money,
      (24 * $width-money) (20 * $width-money) 0 $bag3-money,
      (3 * $width-money) (21 * $width-money) 0 $bag2-money,
      (4 * $width-money) (21 * $width-money) 0 $bag1-money,
      (5 * $width-money) (21 * $width-money) 0 $bag2-money,
      (6 * $width-money) (21 * $width-money) 0 $bag2-money,
      (7 * $width-money) (21 * $width-money) 0 $bag1-money,
      (8 * $width-money) (21 * $width-money) 0 $bag2-money,
      (9 * $width-money) (21 * $width-money) 0 $bag2-money,
      (10 * $width-money) (21 * $width-money) 0 $bag1-money,
      (11 * $width-money) (21 * $width-money) 0 $doll-money,
      (12 * $width-money) (21 * $width-money) 0 $bag1-money,
      (13 * $width-money) (21 * $width-money) 0 $bag1-money,
      (14 * $width-money) (21 * $width-money) 0 $doll-money,
      (15 * $width-money) (21 * $width-money) 0 $bag2-money,
      (16 * $width-money) (21 * $width-money) 0 $bag2-money,
      (17 * $width-money) (21 * $width-money) 0 $bag1-money,
      (18 * $width-money) (21 * $width-money) 0 $bag1-money,
      (19 * $width-money) (21 * $width-money) 0 $bag1-money,
      (20 * $width-money) (21 * $width-money) 0 $bag1-money,
      (21 * $width-money) (21 * $width-money) 0 $bag4-money,
      (22 * $width-money) (21 * $width-money) 0 $bag1-money,
      (23 * $width-money) (21 * $width-money) 0 $bag4-money,
      (24 * $width-money) (21 * $width-money) 0 $bag3-money,
      (2 * $width-money) (22 * $width-money) 0 $bag1-money,
      (3 * $width-money) (22 * $width-money) 0 $bag1-money,
      (4 * $width-money) (22 * $width-money) 0 $bag2-money,
      (5 * $width-money) (22 * $width-money) 0 $bag1-money,
      (6 * $width-money) (22 * $width-money) 0 $bag1-money,
      (7 * $width-money) (22 * $width-money) 0 $bag2-money,
      (8 * $width-money) (22 * $width-money) 0 $bag2-money,
      (9 * $width-money) (22 * $width-money) 0 $bag2-money,
      (10 * $width-money) (22 * $width-money) 0 $bag2-money,
      (11 * $width-money) (22 * $width-money) 0 $bag2-money,
      (12 * $width-money) (22 * $width-money) 0 $bag2-money,
      (13 * $width-money) (22 * $width-money) 0 $bag2-money,
      (14 * $width-money) (22 * $width-money) 0 $bag2-money,
      (15 * $width-money) (22 * $width-money) 0 $bag2-money,
      (16 * $width-money) (22 * $width-money) 0 $bag1-money,
      (17 * $width-money) (22 * $width-money) 0 $bag1-money,
      (18 * $width-money) (22 * $width-money) 0 $bag2-money,
      (19 * $width-money) (22 * $width-money) 0 $bag1-money,
      (20 * $width-money) (22 * $width-money) 0 $bag4-money,
      (21 * $width-money) (22 * $width-money) 0 $bag4-money,
      (22 * $width-money) (22 * $width-money) 0 $bag4-money,
      (23 * $width-money) (22 * $width-money) 0 $bag3-money,
      (2 * $width-money) (23 * $width-money) 0 $bag4-money,
      (3 * $width-money) (23 * $width-money) 0 $bag1-money,
      (4 * $width-money) (23 * $width-money) 0 $bag1-money,
      (5 * $width-money) (23 * $width-money) 0 $bag1-money,
      (6 * $width-money) (23 * $width-money) 0 $bag1-money,
      (7 * $width-money) (23 * $width-money) 0 $bag2-money,
      (8 * $width-money) (23 * $width-money) 0 $bag1-money,
      (9 * $width-money) (23 * $width-money) 0 $bag1-money,
      (10 * $width-money) (23 * $width-money) 0 $bag1-money,
      (11 * $width-money) (23 * $width-money) 0 $bag1-money,
      (12 * $width-money) (23 * $width-money) 0 $bag2-money,
      (13 * $width-money) (23 * $width-money) 0 $bag1-money,
      (14 * $width-money) (23 * $width-money) 0 $bag1-money,
      (15 * $width-money) (23 * $width-money) 0 $bag1-money,
      (16 * $width-money) (23 * $width-money) 0 $bag4-money,
      (17 * $width-money) (23 * $width-money) 0 $bag4-money,
      (18 * $width-money) (23 * $width-money) 0 $bag4-money,
      (19 * $width-money) (23 * $width-money) 0 $bag4-money,
      (20 * $width-money) (23 * $width-money) 0 $bag1-money,
      (21 * $width-money) (23 * $width-money) 0 $bag3-money,
      (22 * $width-money) (23 * $width-money) 0 $bag1-money,
      (23 * $width-money) (23 * $width-money) 0 $bag3-money,
      (24 * $width-money) (23 * $width-money) 0 $bag3-money,
      (1 * $width-money) (24 * $width-money) 0 $bag3-money,
      (2 * $width-money) (24 * $width-money) 0 $bag4-money,
      (3 * $width-money) (24 * $width-money) 0 $bag4-money,
      (4 * $width-money) (24 * $width-money) 0 $bag4-money,
      (5 * $width-money) (24 * $width-money) 0 $bag4-money,
      (6 * $width-money) (24 * $width-money) 0 $bag4-money,
      (7 * $width-money) (24 * $width-money) 0 $bag1-money,
      (8 * $width-money) (24 * $width-money) 0 $bag1-money,
      (9 * $width-money) (24 * $width-money) 0 $bag4-money,
      (10 * $width-money) (24 * $width-money) 0 $bag1-money,
      (11 * $width-money) (24 * $width-money) 0 $bag4-money,
      (12 * $width-money) (24 * $width-money) 0 $bag4-money,
      (13 * $width-money) (24 * $width-money) 0 $bag4-money,
      (14 * $width-money) (24 * $width-money) 0 $bag4-money,
      (15 * $width-money) (24 * $width-money) 0 $bag4-money,
      (16 * $width-money) (24 * $width-money) 0 $bag1-money,
      (17 * $width-money) (24 * $width-money) 0 $bag4-money,
      (18 * $width-money) (24 * $width-money) 0 $bag4-money,
      (19 * $width-money) (24 * $width-money) 0 $bag4-money,
      (20 * $width-money) (24 * $width-money) 0 $bag3-money,
      (21 * $width-money) (24 * $width-money) 0 $bag4-money,
      (22 * $width-money) (24 * $width-money) 0 $bag3-money,
      (23 * $width-money) (24 * $width-money) 0 $bag4-money,
      (24 * $width-money) (24 * $width-money) 0 $bag3-money,
      (25 * $width-money) (24 * $width-money) 0 $bag3-money,
      (1 * $width-money) (25 * $width-money) 0 $bag3-money,
      (2 * $width-money) (25 * $width-money) 0 $bag3-money,
      (3 * $width-money) (25 * $width-money) 0 $bag3-money,
      (4 * $width-money) (25 * $width-money) 0 $bag3-money,
      (5 * $width-money) (25 * $width-money) 0 $bag4-money,
      (6 * $width-money) (25 * $width-money) 0 $bag3-money,
      (7 * $width-money) (25 * $width-money) 0 $bag4-money,
      (8 * $width-money) (25 * $width-money) 0 $bag4-money,
      (9 * $width-money) (25 * $width-money) 0 $bag3-money,
      (10 * $width-money) (25 * $width-money) 0 $bag4-money,
      (11 * $width-money) (25 * $width-money) 0 $bag4-money,
      (12 * $width-money) (25 * $width-money) 0 $bag4-money,
      (13 * $width-money) (25 * $width-money) 0 $bag4-money,
      (14 * $width-money) (25 * $width-money) 0 $bag4-money,
      (15 * $width-money) (25 * $width-money) 0 $bag3-money,
      (16 * $width-money) (25 * $width-money) 0 $bag4-money,
      (17 * $width-money) (25 * $width-money) 0 $bag3-money,
      (18 * $width-money) (25 * $width-money) 0 $bag3-money,
      (19 * $width-money) (25 * $width-money) 0 $bag3-money,
      (20 * $width-money) (25 * $width-money) 0 $bag3-money,
      (21 * $width-money) (25 * $width-money) 0 $bag3-money,
      (22 * $width-money) (25 * $width-money) 0 $bag3-money,
      (23 * $width-money) (25 * $width-money) 0 $bag3-money,
      (24 * $width-money) (25 * $width-money) 0 $bag3-money,
      (25 * $width-money) (25 * $width-money) 0 $bag3-money;
  }
  box-shadow: (8 * $width-godfather) (1 * $width-godfather) 0 $hair1-godfather,
    (9 * $width-godfather) (1 * $width-godfather) 0 $hair2-godfather,
    (10 * $width-godfather) (1 * $width-godfather) 0 $hair1-godfather,
    (11 * $width-godfather) (1 * $width-godfather) 0 $hair2-godfather,
    (12 * $width-godfather) (1 * $width-godfather) 0 $hair3-godfather,
    (7 * $width-godfather) (2 * $width-godfather) 0 $skin-godfather,
    (8 * $width-godfather) (2 * $width-godfather) 0 $hair2-godfather,
    (9 * $width-godfather) (2 * $width-godfather) 0 $skin-godfather,
    (10 * $width-godfather) (2 * $width-godfather) 0 $skin-godfather,
    (11 * $width-godfather) (2 * $width-godfather) 0 $skin-godfather,
    (12 * $width-godfather) (2 * $width-godfather) 0 $hair2-godfather,
    (13 * $width-godfather) (2 * $width-godfather) 0 $hair3-godfather,
    (7 * $width-godfather) (3 * $width-godfather) 0 $skin-godfather,
    (8 * $width-godfather) (3 * $width-godfather) 0 $skin-godfather,
    (9 * $width-godfather) (3 * $width-godfather) 0 $skin-godfather,
    (10 * $width-godfather) (3 * $width-godfather) 0 $skin-godfather,
    (11 * $width-godfather) (3 * $width-godfather) 0 $hair2-godfather,
    (12 * $width-godfather) (3 * $width-godfather) 0 $hair3-godfather,
    (13 * $width-godfather) (3 * $width-godfather) 0 $hair2-godfather,
    (7 * $width-godfather) (4 * $width-godfather) 0 $skin-godfather,
    (8 * $width-godfather) (4 * $width-godfather) 0 $skin-shadow-godfather,
    (9 * $width-godfather) (4 * $width-godfather) 0 $skin-shadow-godfather,
    (10 * $width-godfather) (4 * $width-godfather) 0 $skin-godfather,
    (11 * $width-godfather) (4 * $width-godfather) 0 $skin-shadow-godfather,
    (12 * $width-godfather) (4 * $width-godfather) 0 $hair2-godfather,
    (13 * $width-godfather) (4 * $width-godfather) 0 $hair3-godfather,
    (7 * $width-godfather) (5 * $width-godfather) 0 $black-godfather,
    (8 * $width-godfather) (5 * $width-godfather) 0 $nose-godfather,
    (9 * $width-godfather) (5 * $width-godfather) 0 $skin-shadow-godfather,
    (10 * $width-godfather) (5 * $width-godfather) 0 $black-godfather,
    (11 * $width-godfather) (5 * $width-godfather) 0 $skin-shadow-godfather,
    (12 * $width-godfather) (5 * $width-godfather) 0 $hair3-godfather,
    (13 * $width-godfather) (5 * $width-godfather) 0 $skin-shadow-godfather,
    (7 * $width-godfather) (6 * $width-godfather) 0 $skin-godfather,
    (8 * $width-godfather) (6 * $width-godfather) 0 $nose-godfather,
    (9 * $width-godfather) (6 * $width-godfather) 0 $skin-godfather,
    (10 * $width-godfather) (6 * $width-godfather) 0 $skin-godfather,
    (11 * $width-godfather) (6 * $width-godfather) 0 $skin-shadow-godfather,
    (12 * $width-godfather) (6 * $width-godfather) 0 $hair1-godfather,
    (13 * $width-godfather) (6 * $width-godfather) 0 $skin-shadow-godfather,
    (7 * $width-godfather) (7 * $width-godfather) 0 $skin-godfather,
    (8 * $width-godfather) (7 * $width-godfather) 0 $black-godfather,
    (9 * $width-godfather) (7 * $width-godfather) 0 $black-godfather,
    (10 * $width-godfather) (7 * $width-godfather) 0 $skin-shadow-godfather,
    (11 * $width-godfather) (7 * $width-godfather) 0 $skin-shadow-godfather,
    (12 * $width-godfather) (7 * $width-godfather) 0 $skin-shadow-godfather,
    (1 * $width-godfather) (8 * $width-godfather) 0 $cat1-godfather,
    (4 * $width-godfather) (8 * $width-godfather) 0 $cat1-godfather,
    (8 * $width-godfather) (8 * $width-godfather) 0 $skin-godfather,
    (9 * $width-godfather) (8 * $width-godfather) 0 $skin-godfather,
    (10 * $width-godfather) (8 * $width-godfather) 0 $skin-godfather,
    (11 * $width-godfather) (8 * $width-godfather) 0 $skin-shadow-godfather,
    (12 * $width-godfather) (8 * $width-godfather) 0 $skin-shadow-godfather,
    (1 * $width-godfather) (9 * $width-godfather) 0 $cat1-godfather,
    (2 * $width-godfather) (9 * $width-godfather) 0 $cat1-godfather,
    (3 * $width-godfather) (9 * $width-godfather) 0 $cat1-godfather,
    (4 * $width-godfather) (9 * $width-godfather) 0 $cat1-godfather,
    (8 * $width-godfather) (9 * $width-godfather) 0 $jaket-godfather,
    (9 * $width-godfather) (9 * $width-godfather) 0 $shirt-shadow-godfather,
    (10 * $width-godfather) (9 * $width-godfather) 0 $tie-godfather,
    (11 * $width-godfather) (9 * $width-godfather) 0 $shirt-shadow-godfather,
    (12 * $width-godfather) (9 * $width-godfather) 0 $jaket-godfather,
    (13 * $width-godfather) (9 * $width-godfather) 0 $jaket-godfather,
    (14 * $width-godfather) (9 * $width-godfather) 0 $jaket-godfather,
    (15 * $width-godfather) (9 * $width-godfather) 0 $jaket-shadow-godfather,
    (1 * $width-godfather) (10 * $width-godfather) 0 $cat-eye-godfather,
    (2 * $width-godfather) (10 * $width-godfather) 0 $cat1-godfather,
    (3 * $width-godfather) (10 * $width-godfather) 0 $cat-eye-godfather,
    (4 * $width-godfather) (10 * $width-godfather) 0 $cat1-godfather,
    (5 * $width-godfather) (10 * $width-godfather) 0 $cat2-godfather,
    (6 * $width-godfather) (10 * $width-godfather) 0 $cat1-godfather,
    (7 * $width-godfather) (10 * $width-godfather) 0 $cat2-godfather,
    (8 * $width-godfather) (10 * $width-godfather) 0 $jaket-godfather,
    (9 * $width-godfather) (10 * $width-godfather) 0 $jaket-godfather,
    (10 * $width-godfather) (10 * $width-godfather) 0 $jaket-godfather,
    (11 * $width-godfather) (10 * $width-godfather) 0 $jaket-godfather,
    (12 * $width-godfather) (10 * $width-godfather) 0 $jaket-godfather,
    (13 * $width-godfather) (10 * $width-godfather) 0 $jaket-godfather,
    (14 * $width-godfather) (10 * $width-godfather) 0 $jaket-godfather,
    (15 * $width-godfather) (10 * $width-godfather) 0 $jaket-godfather,
    (16 * $width-godfather) (10 * $width-godfather) 0 $jaket-shadow-godfather,
    (1 * $width-godfather) (11 * $width-godfather) 0 $shirt-godfather,
    (2 * $width-godfather) (11 * $width-godfather) 0 $black-godfather,
    (3 * $width-godfather) (11 * $width-godfather) 0 $shirt-godfather,
    (4 * $width-godfather) (11 * $width-godfather) 0 $cat2-godfather,
    (5 * $width-godfather) (11 * $width-godfather) 0 $cat1-godfather,
    (6 * $width-godfather) (11 * $width-godfather) 0 $cat2-godfather,
    (7 * $width-godfather) (11 * $width-godfather) 0 $cat1-godfather,
    (8 * $width-godfather) (11 * $width-godfather) 0 $jaket-godfather,
    (9 * $width-godfather) (11 * $width-godfather) 0 $shirt-shadow-godfather,
    (10 * $width-godfather) (11 * $width-godfather) 0 $shirt-godfather,
    (11 * $width-godfather) (11 * $width-godfather) 0 $shirt-godfather,
    (12 * $width-godfather) (11 * $width-godfather) 0 $jaket-godfather,
    (13 * $width-godfather) (11 * $width-godfather) 0 $red-godfather,
    (14 * $width-godfather) (11 * $width-godfather) 0 $jaket-godfather,
    (15 * $width-godfather) (11 * $width-godfather) 0 $jaket-godfather,
    (16 * $width-godfather) (11 * $width-godfather) 0 $jaket-shadow-godfather,
    (3 * $width-godfather) (12 * $width-godfather) 0 $cat1-godfather,
    (4 * $width-godfather) (12 * $width-godfather) 0 $cat1-godfather,
    (5 * $width-godfather) (12 * $width-godfather) 0 $cat2-godfather,
    (6 * $width-godfather) (12 * $width-godfather) 0 $cat1-godfather,
    (7 * $width-godfather) (12 * $width-godfather) 0 $jaket-godfather,
    (8 * $width-godfather) (12 * $width-godfather) 0 $jaket-godfather,
    (9 * $width-godfather) (12 * $width-godfather) 0 $shirt-shadow-godfather,
    (10 * $width-godfather) (12 * $width-godfather) 0 $shirt-shadow-godfather,
    (11 * $width-godfather) (12 * $width-godfather) 0 $shirt-godfather,
    (12 * $width-godfather) (12 * $width-godfather) 0 $jaket-godfather,
    (13 * $width-godfather) (12 * $width-godfather) 0 $jaket-shadow-godfather,
    (14 * $width-godfather) (12 * $width-godfather) 0 $jaket-godfather,
    (15 * $width-godfather) (12 * $width-godfather) 0 $jaket-godfather,
    (16 * $width-godfather) (12 * $width-godfather) 0 $jaket-shadow-godfather,
    (2 * $width-godfather) (13 * $width-godfather) 0 $skin-godfather,
    (3 * $width-godfather) (13 * $width-godfather) 0 $cat1-godfather,
    (4 * $width-godfather) (13 * $width-godfather) 0 $cat2-godfather,
    (5 * $width-godfather) (13 * $width-godfather) 0 $cat1-godfather,
    (6 * $width-godfather) (13 * $width-godfather) 0 $cat2-godfather,
    (7 * $width-godfather) (13 * $width-godfather) 0 $jaket-godfather,
    (8 * $width-godfather) (13 * $width-godfather) 0 $jaket-godfather,
    (9 * $width-godfather) (13 * $width-godfather) 0 $shirt-shadow-godfather,
    (10 * $width-godfather) (13 * $width-godfather) 0 $shirt-godfather,
    (11 * $width-godfather) (13 * $width-godfather) 0 $shirt-godfather,
    (12 * $width-godfather) (13 * $width-godfather) 0 $jaket-godfather,
    (13 * $width-godfather) (13 * $width-godfather) 0 $jaket-shadow-godfather,
    (14 * $width-godfather) (13 * $width-godfather) 0 $jaket-godfather,
    (15 * $width-godfather) (13 * $width-godfather) 0 $jaket-godfather,
    (16 * $width-godfather) (13 * $width-godfather) 0 $jaket-shadow-godfather,
    (2 * $width-godfather) (14 * $width-godfather) 0 $skin-godfather,
    (3 * $width-godfather) (14 * $width-godfather) 0 $skin-shadow-godfather,
    (4 * $width-godfather) (14 * $width-godfather) 0 $cat2-godfather,
    (5 * $width-godfather) (14 * $width-godfather) 0 $jaket-godfather,
    (6 * $width-godfather) (14 * $width-godfather) 0 $jaket-godfather,
    (7 * $width-godfather) (14 * $width-godfather) 0 $jaket-godfather,
    (8 * $width-godfather) (14 * $width-godfather) 0 $jaket-shadow-godfather,
    (9 * $width-godfather) (14 * $width-godfather) 0 $jaket-godfather,
    (10 * $width-godfather) (14 * $width-godfather) 0 $shirt-shadow-godfather,
    (11 * $width-godfather) (14 * $width-godfather) 0 $jaket-godfather,
    (12 * $width-godfather) (14 * $width-godfather) 0 $jaket-shadow-godfather,
    (13 * $width-godfather) (14 * $width-godfather) 0 $jaket-shadow-godfather,
    (14 * $width-godfather) (14 * $width-godfather) 0 $jaket-godfather,
    (15 * $width-godfather) (14 * $width-godfather) 0 $jaket-godfather,
    (16 * $width-godfather) (14 * $width-godfather) 0 $jaket-shadow-godfather,
    (3 * $width-godfather) (15 * $width-godfather) 0 $skin-godfather,
    (4 * $width-godfather) (15 * $width-godfather) 0 $shirt-godfather,
    (5 * $width-godfather) (15 * $width-godfather) 0 $jaket-shadow-godfather,
    (6 * $width-godfather) (15 * $width-godfather) 0 $jaket-shadow-godfather,
    (7 * $width-godfather) (15 * $width-godfather) 0 $jaket-shadow-godfather,
    (8 * $width-godfather) (15 * $width-godfather) 0 $jaket-godfather,
    (9 * $width-godfather) (15 * $width-godfather) 0 $jaket-shadow-godfather,
    (10 * $width-godfather) (15 * $width-godfather) 0 $jaket-shadow-godfather,
    (11 * $width-godfather) (15 * $width-godfather) 0 $jaket-shadow-godfather,
    (12 * $width-godfather) (15 * $width-godfather) 0 $jaket-shadow-godfather,
    (13 * $width-godfather) (15 * $width-godfather) 0 $jaket-shadow-godfather,
    (14 * $width-godfather) (15 * $width-godfather) 0 $jaket-godfather,
    (15 * $width-godfather) (15 * $width-godfather) 0 $jaket-godfather,
    (16 * $width-godfather) (15 * $width-godfather) 0 $jaket-shadow-godfather,
    (4 * $width-godfather) (16 * $width-godfather) 0 $shirt-godfather,
    (7 * $width-godfather) (16 * $width-godfather) 0 $jaket-godfather,
    (8 * $width-godfather) (16 * $width-godfather) 0 $jaket-godfather,
    (9 * $width-godfather) (16 * $width-godfather) 0 $jaket-godfather,
    (10 * $width-godfather) (16 * $width-godfather) 0 $jaket-shadow-godfather,
    (11 * $width-godfather) (16 * $width-godfather) 0 $jaket-godfather,
    (12 * $width-godfather) (16 * $width-godfather) 0 $jaket-godfather,
    (13 * $width-godfather) (16 * $width-godfather) 0 $jaket-shadow-godfather,
    (14 * $width-godfather) (16 * $width-godfather) 0 $jaket-shadow-godfather,
    (15 * $width-godfather) (16 * $width-godfather) 0 $jaket-shadow-godfather,
    (16 * $width-godfather) (16 * $width-godfather) 0 $jaket-shadow-godfather,
    (7 * $width-godfather) (17 * $width-godfather) 0 $jaket-shadow-godfather,
    (8 * $width-godfather) (17 * $width-godfather) 0 $jaket-godfather,
    (9 * $width-godfather) (17 * $width-godfather) 0 $jaket-godfather,
    (10 * $width-godfather) (17 * $width-godfather) 0 $jaket-godfather,
    (11 * $width-godfather) (17 * $width-godfather) 0 $jaket-godfather,
    (12 * $width-godfather) (17 * $width-godfather) 0 $jaket-godfather,
    (13 * $width-godfather) (17 * $width-godfather) 0 $jaket-shadow-godfather,
    (14 * $width-godfather) (17 * $width-godfather) 0 $jaket-shadow-godfather,
    (15 * $width-godfather) (17 * $width-godfather) 0 $skin-godfather,
    (16 * $width-godfather) (17 * $width-godfather) 0 $skin-shadow-godfather,
    (8 * $width-godfather) (18 * $width-godfather) 0 $jaket-shadow-godfather,
    (9 * $width-godfather) (18 * $width-godfather) 0 $jaket-shadow-godfather,
    (10 * $width-godfather) (18 * $width-godfather) 0 $jaket-shadow-godfather,
    (11 * $width-godfather) (18 * $width-godfather) 0 $jaket-shadow-godfather,
    (12 * $width-godfather) (18 * $width-godfather) 0 $jaket-shadow-godfather,
    (13 * $width-godfather) (18 * $width-godfather) 0 $jaket-shadow-godfather,
    (14 * $width-godfather) (18 * $width-godfather) 0 $jaket-shadow-godfather,
    (15 * $width-godfather) (18 * $width-godfather) 0 $skin-godfather,
    (16 * $width-godfather) (18 * $width-godfather) 0 $skin-shadow-godfather,
    (8 * $width-godfather) (19 * $width-godfather) 0 $jaket-godfather,
    (9 * $width-godfather) (19 * $width-godfather) 0 $jaket-godfather,
    (10 * $width-godfather) (19 * $width-godfather) 0 $jaket-shadow-godfather,
    (11 * $width-godfather) (19 * $width-godfather) 0 $jaket-shadow-godfather,
    (12 * $width-godfather) (19 * $width-godfather) 0 $jaket-godfather,
    (13 * $width-godfather) (19 * $width-godfather) 0 $jaket-shadow-godfather,
    (14 * $width-godfather) (19 * $width-godfather) 0 $jaket-shadow-godfather,
    (15 * $width-godfather) (19 * $width-godfather) 0 $jaket-shadow-godfather,
    (8 * $width-godfather) (20 * $width-godfather) 0 $jaket-godfather,
    (9 * $width-godfather) (20 * $width-godfather) 0 $jaket-godfather,
    (10 * $width-godfather) (20 * $width-godfather) 0 $jaket-shadow-godfather,
    (12 * $width-godfather) (20 * $width-godfather) 0 $jaket-godfather,
    (13 * $width-godfather) (20 * $width-godfather) 0 $jaket-shadow-godfather,
    (14 * $width-godfather) (20 * $width-godfather) 0 $jaket-shadow-godfather,
    (8 * $width-godfather) (21 * $width-godfather) 0 $jaket-godfather,
    (9 * $width-godfather) (21 * $width-godfather) 0 $jaket-godfather,
    (10 * $width-godfather) (21 * $width-godfather) 0 $jaket-shadow-godfather,
    (12 * $width-godfather) (21 * $width-godfather) 0 $jaket-godfather,
    (13 * $width-godfather) (21 * $width-godfather) 0 $jaket-shadow-godfather,
    (14 * $width-godfather) (21 * $width-godfather) 0 $jaket-shadow-godfather,
    (8 * $width-godfather) (22 * $width-godfather) 0 $jaket-godfather,
    (9 * $width-godfather) (22 * $width-godfather) 0 $jaket-godfather,
    (10 * $width-godfather) (22 * $width-godfather) 0 $jaket-shadow-godfather,
    (12 * $width-godfather) (22 * $width-godfather) 0 $jaket-godfather,
    (13 * $width-godfather) (22 * $width-godfather) 0 $jaket-shadow-godfather,
    (14 * $width-godfather) (22 * $width-godfather) 0 $jaket-shadow-godfather,
    (8 * $width-godfather) (23 * $width-godfather) 0 $jaket-godfather,
    (9 * $width-godfather) (23 * $width-godfather) 0 $jaket-godfather,
    (10 * $width-godfather) (23 * $width-godfather) 0 $jaket-shadow-godfather,
    (12 * $width-godfather) (23 * $width-godfather) 0 $jaket-godfather,
    (13 * $width-godfather) (23 * $width-godfather) 0 $jaket-shadow-godfather,
    (14 * $width-godfather) (23 * $width-godfather) 0 $jaket-shadow-godfather,
    (8 * $width-godfather) (24 * $width-godfather) 0 $jaket-godfather,
    (9 * $width-godfather) (24 * $width-godfather) 0 $jaket-godfather,
    (10 * $width-godfather) (24 * $width-godfather) 0 $jaket-shadow-godfather,
    (12 * $width-godfather) (24 * $width-godfather) 0 $jaket-godfather,
    (13 * $width-godfather) (24 * $width-godfather) 0 $jaket-shadow-godfather,
    (14 * $width-godfather) (24 * $width-godfather) 0 $jaket-shadow-godfather,
    (7 * $width-godfather) (25 * $width-godfather) 0 $jaket-shadow-godfather,
    (8 * $width-godfather) (25 * $width-godfather) 0 $jaket-shadow-godfather,
    (9 * $width-godfather) (25 * $width-godfather) 0 $jaket-shadow-godfather,
    (10 * $width-godfather) (25 * $width-godfather) 0 $jaket-shadow-godfather,
    (12 * $width-godfather) (25 * $width-godfather) 0 $jaket-shadow-godfather,
    (13 * $width-godfather) (25 * $width-godfather) 0 $jaket-shadow-godfather,
    (14 * $width-godfather) (25 * $width-godfather) 0 $jaket-shadow-godfather;
}
