$width-mcgonagall: 10px;
$width-js: 8px;

$hat-mcgonagall: #000000;
$hair-mcgonagall: #62483a;
$skin-mcgonagall: #e4c597;
$brows-mcgonagall: #63605b;
$cape-mcgonagall: #284839;
$shirt-mcgonagall: #2a2c29;

$back-js: #d6bf01;
$back-right-js: #ffde00;
$hair1-js: #f88402;
$hair2-js: #c76802;
$hair3-js: #a45900;

$back-html: #e54c21;
$back-right-html: #f16524;
$hair1-html: #c96802;
$hair2-html: #f78200;
$hair3-html: #a25a00;

$back-css: #016bc1;
$back-right-css: #0097db;
$hair1-css: #181818;
$hair2-css: #2f2f2f;

.js {
  width: $width-js;
  height: $width-js;
  position: absolute;
  top: 115px;
  left: 5%;
  @media (max-width: 1600px) {
    left: 10%;
  }
  @media (max-width: 1366px) {
    left: 16%;
  }
  @media (max-width: 1200px) {
    left: 6%;
  }
  &__heir {
    position: absolute;
    width: $width-js;
    height: $width-js;
    left: -32px;
    top: -24px;
    box-shadow: (7 * $width-js) (1 * $width-js) 0 $hair1-js,
      (8 * $width-js) (1 * $width-js) 0 $hair1-js,
      (9 * $width-js) (1 * $width-js) 0 $hair1-js,
      (10 * $width-js) (1 * $width-js) 0 $hair1-js,
      (11 * $width-js) (1 * $width-js) 0 $hair1-js,
      (12 * $width-js) (1 * $width-js) 0 $hair1-js,
      (11 * $width-js) (1 * $width-js) 0 $hair1-js,
      (12 * $width-js) (1 * $width-js) 0 $hair1-js,
      (13 * $width-js) (1 * $width-js) 0 $hair1-js,
      (6 * $width-js) (2 * $width-js) 0 $hair1-js,
      (7 * $width-js) (2 * $width-js) 0 $hair1-js,
      (8 * $width-js) (2 * $width-js) 0 $hair1-js,
      (9 * $width-js) (2 * $width-js) 0 $hair2-js,
      (10 * $width-js) (2 * $width-js) 0 $hair2-js,
      (11 * $width-js) (2 * $width-js) 0 $hair2-js,
      (12 * $width-js) (2 * $width-js) 0 $hair2-js,
      (13 * $width-js) (2 * $width-js) 0 $hair2-js,
      (14 * $width-js) (2 * $width-js) 0 $hair2-js,
      (15 * $width-js) (2 * $width-js) 0 $hair1-js,
      (16 * $width-js) (2 * $width-js) 0 $hair1-js,
      (17 * $width-js) (2 * $width-js) 0 $hair1-js,
      (5 * $width-js) (3 * $width-js) 0 $hair1-js,
      (6 * $width-js) (3 * $width-js) 0 $hair1-js,
      (7 * $width-js) (3 * $width-js) 0 $hair1-js,
      (8 * $width-js) (3 * $width-js) 0 $hair2-js,
      (7 * $width-js) (3 * $width-js) 0 $hair2-js,
      (8 * $width-js) (3 * $width-js) 0 $hair2-js,
      (9 * $width-js) (3 * $width-js) 0 $hair2-js,
      (10 * $width-js) (3 * $width-js) 0 $hair2-js,
      (11 * $width-js) (3 * $width-js) 0 $hair2-js,
      (12 * $width-js) (3 * $width-js) 0 $hair2-js,
      (13 * $width-js) (3 * $width-js) 0 $hair2-js,
      (14 * $width-js) (3 * $width-js) 0 $hair2-js,
      (15 * $width-js) (3 * $width-js) 0 $hair2-js,
      (16 * $width-js) (3 * $width-js) 0 $hair1-js,
      (17 * $width-js) (3 * $width-js) 0 $hair1-js,
      (18 * $width-js) (3 * $width-js) 0 $hair1-js,
      (4 * $width-js) (4 * $width-js) 0 $hair1-js,
      (5 * $width-js) (4 * $width-js) 0 $hair1-js,
      (6 * $width-js) (4 * $width-js) 0 $hair1-js,
      (7 * $width-js) (4 * $width-js) 0 $hair2-js,
      (13 * $width-js) (4 * $width-js) 0 $hair2-js,
      (14 * $width-js) (4 * $width-js) 0 $hair2-js,
      (15 * $width-js) (4 * $width-js) 0 $hair2-js,
      (16 * $width-js) (4 * $width-js) 0 $hair2-js,
      (17 * $width-js) (4 * $width-js) 0 $hair1-js,
      (18 * $width-js) (4 * $width-js) 0 $hair1-js,
      (19 * $width-js) (4 * $width-js) 0 $hair1-js,
      (4 * $width-js) (5 * $width-js) 0 $hair1-js,
      (5 * $width-js) (5 * $width-js) 0 $hair1-js,
      (6 * $width-js) (5 * $width-js) 0 $hair1-js,
      (14 * $width-js) (5 * $width-js) 0 $hair2-js,
      (15 * $width-js) (5 * $width-js) 0 $hair2-js,
      (16 * $width-js) (5 * $width-js) 0 $hair2-js,
      (17 * $width-js) (5 * $width-js) 0 $hair2-js,
      (18 * $width-js) (5 * $width-js) 0 $hair1-js,
      (19 * $width-js) (5 * $width-js) 0 $hair1-js,
      (3 * $width-js) (6 * $width-js) 0 $hair1-js,
      (4 * $width-js) (6 * $width-js) 0 $hair1-js,
      (5 * $width-js) (6 * $width-js) 0 $hair2-js,
      (6 * $width-js) (6 * $width-js) 0 $hair2-js,
      (16 * $width-js) (6 * $width-js) 0 $hair3-js,
      (17 * $width-js) (6 * $width-js) 0 $hair2-js,
      (18 * $width-js) (6 * $width-js) 0 $hair2-js,
      (19 * $width-js) (6 * $width-js) 0 $hair1-js,
      (20 * $width-js) (6 * $width-js) 0 $hair1-js,
      (3 * $width-js) (7 * $width-js) 0 $hair1-js,
      (4 * $width-js) (7 * $width-js) 0 $hair2-js,
      (5 * $width-js) (7 * $width-js) 0 $hair2-js,
      (6 * $width-js) (7 * $width-js) 0 $hair2-js,
      (17 * $width-js) (7 * $width-js) 0 $hair2-js,
      (18 * $width-js) (7 * $width-js) 0 $hair1-js,
      (19 * $width-js) (7 * $width-js) 0 $hair1-js,
      (20 * $width-js) (7 * $width-js) 0 $hair1-js,
      (21 * $width-js) (7 * $width-js) 0 $hair1-js,
      (2 * $width-js) (8 * $width-js) 0 $hair1-js,
      (3 * $width-js) (8 * $width-js) 0 $hair1-js,
      (4 * $width-js) (8 * $width-js) 0 $hair1-js,
      (5 * $width-js) (8 * $width-js) 0 $hair2-js,
      (17 * $width-js) (8 * $width-js) 0 $hair2-js,
      (18 * $width-js) (8 * $width-js) 0 $hair2-js,
      (19 * $width-js) (8 * $width-js) 0 $hair2-js,
      (20 * $width-js) (8 * $width-js) 0 $hair1-js,
      (21 * $width-js) (8 * $width-js) 0 $hair2-js,
      (2 * $width-js) (9 * $width-js) 0 $hair1-js,
      (3 * $width-js) (9 * $width-js) 0 $hair2-js,
      (4 * $width-js) (9 * $width-js) 0 $hair2-js,
      (5 * $width-js) (9 * $width-js) 0 $hair2-js,
      (6 * $width-js) (9 * $width-js) 0 $hair3-js,
      (16 * $width-js) (9 * $width-js) 0 $hair2-js,
      (17 * $width-js) (9 * $width-js) 0 $hair2-js,
      (18 * $width-js) (9 * $width-js) 0 $hair2-js,
      (19 * $width-js) (9 * $width-js) 0 $hair2-js,
      (20 * $width-js) (9 * $width-js) 0 $hair2-js,
      (21 * $width-js) (9 * $width-js) 0 $hair1-js,
      (2 * $width-js) (10 * $width-js) 0 $hair1-js,
      (3 * $width-js) (10 * $width-js) 0 $hair3-js,
      (4 * $width-js) (10 * $width-js) 0 $hair1-js,
      (5 * $width-js) (10 * $width-js) 0 $hair3-js,
      (6 * $width-js) (10 * $width-js) 0 $hair3-js,
      (16 * $width-js) (10 * $width-js) 0 $hair2-js,
      (17 * $width-js) (10 * $width-js) 0 $hair1-js,
      (18 * $width-js) (10 * $width-js) 0 $hair2-js,
      (19 * $width-js) (10 * $width-js) 0 $hair3-js,
      (20 * $width-js) (10 * $width-js) 0 $hair1-js,
      (21 * $width-js) (10 * $width-js) 0 $hair1-js,
      (2 * $width-js) (11 * $width-js) 0 $hair1-js,
      (3 * $width-js) (11 * $width-js) 0 $hair2-js,
      (4 * $width-js) (11 * $width-js) 0 $hair2-js,
      (5 * $width-js) (11 * $width-js) 0 $hair3-js,
      (17 * $width-js) (11 * $width-js) 0 $hair2-js,
      (18 * $width-js) (11 * $width-js) 0 $hair2-js,
      (19 * $width-js) (11 * $width-js) 0 $hair2-js,
      (20 * $width-js) (11 * $width-js) 0 $hair1-js,
      (21 * $width-js) (11 * $width-js) 0 $hair1-js,
      (2 * $width-js) (12 * $width-js) 0 $hair1-js,
      (3 * $width-js) (12 * $width-js) 0 $hair2-js,
      (4 * $width-js) (12 * $width-js) 0 $hair1-js,
      (5 * $width-js) (12 * $width-js) 0 $hair2-js,
      (17 * $width-js) (12 * $width-js) 0 $hair1-js,
      (18 * $width-js) (12 * $width-js) 0 $hair2-js,
      (19 * $width-js) (12 * $width-js) 0 $hair1-js,
      (20 * $width-js) (12 * $width-js) 0 $hair1-js,
      (3 * $width-js) (13 * $width-js) 0 $hair2-js,
      (4 * $width-js) (13 * $width-js) 0 $hair2-js,
      (5 * $width-js) (13 * $width-js) 0 $hair3-js,
      (17 * $width-js) (13 * $width-js) 0 $hair2-js,
      (18 * $width-js) (13 * $width-js) 0 $hair2-js,
      (19 * $width-js) (13 * $width-js) 0 $hair1-js,
      (20 * $width-js) (13 * $width-js) 0 $hair1-js,
      (4 * $width-js) (14 * $width-js) 0 $hair2-js,
      (5 * $width-js) (14 * $width-js) 0 $hair2-js,
      (17 * $width-js) (14 * $width-js) 0 $hair1-js,
      (18 * $width-js) (14 * $width-js) 0 $hair2-js,
      (19 * $width-js) (14 * $width-js) 0 $hair2-js,
      (4 * $width-js) (15 * $width-js) 0 $hair2-js,
      (17 * $width-js) (15 * $width-js) 0 $hair1-js,
      (18 * $width-js) (15 * $width-js) 0 $hair2-js,
      (17 * $width-js) (16 * $width-js) 0 $hair2-js;
  }
  box-shadow: (1 * $width-js) (1 * $width-js) 0 $back-js,
    (2 * $width-js) (1 * $width-js) 0 $back-js,
    (3 * $width-js) (1 * $width-js) 0 $back-js,
    (4 * $width-js) (1 * $width-js) 0 $back-js,
    (5 * $width-js) (1 * $width-js) 0 $back-js,
    (6 * $width-js) (1 * $width-js) 0 $back-js,
    (7 * $width-js) (1 * $width-js) 0 $back-js,
    (8 * $width-js) (1 * $width-js) 0 $back-js,
    (9 * $width-js) (1 * $width-js) 0 $back-js,
    (10 * $width-js) (1 * $width-js) 0 $back-js,
    (11 * $width-js) (1 * $width-js) 0 $back-js,
    (12 * $width-js) (1 * $width-js) 0 $back-js,
    (13 * $width-js) (1 * $width-js) 0 $back-js,
    (14 * $width-js) (1 * $width-js) 0 $back-js,
    (1 * $width-js) (2 * $width-js) 0 $back-js,
    (2 * $width-js) (2 * $width-js) 0 $back-js,
    (3 * $width-js) (2 * $width-js) 0 $back-js,
    (4 * $width-js) (2 * $width-js) 0 $back-js,
    (5 * $width-js) (2 * $width-js) 0 $back-js,
    (6 * $width-js) (2 * $width-js) 0 $back-js,
    (7 * $width-js) (2 * $width-js) 0 $back-js,
    (8 * $width-js) (2 * $width-js) 0 $back-right-js,
    (9 * $width-js) (2 * $width-js) 0 $back-right-js,
    (10 * $width-js) (2 * $width-js) 0 $back-right-js,
    (11 * $width-js) (2 * $width-js) 0 $back-right-js,
    (12 * $width-js) (2 * $width-js) 0 $back-right-js,
    (13 * $width-js) (2 * $width-js) 0 $back-js,
    (14 * $width-js) (2 * $width-js) 0 $back-js,
    (1 * $width-js) (3 * $width-js) 0 $back-js,
    (2 * $width-js) (3 * $width-js) 0 $back-js,
    (3 * $width-js) (3 * $width-js) 0 $back-js,
    (4 * $width-js) (3 * $width-js) 0 #fff,
    (5 * $width-js) (3 * $width-js) 0 #fff,
    (6 * $width-js) (3 * $width-js) 0 #fff,
    (7 * $width-js) (3 * $width-js) 0 $back-js,
    (8 * $width-js) (3 * $width-js) 0 $back-right-js,
    (9 * $width-js) (3 * $width-js) 0 $back-right-js,
    (10 * $width-js) (3 * $width-js) 0 #fff,
    (11 * $width-js) (3 * $width-js) 0 #fff,
    (12 * $width-js) (3 * $width-js) 0 $back-right-js,
    (13 * $width-js) (3 * $width-js) 0 $back-js,
    (14 * $width-js) (3 * $width-js) 0 $back-js,
    (2 * $width-js) (4 * $width-js) 0 $back-js,
    (3 * $width-js) (4 * $width-js) 0 $back-js,
    (4 * $width-js) (4 * $width-js) 0 $back-js,
    (5 * $width-js) (4 * $width-js) 0 #fff,
    (6 * $width-js) (4 * $width-js) 0 $back-js,
    (7 * $width-js) (4 * $width-js) 0 $back-js,
    (8 * $width-js) (4 * $width-js) 0 $back-right-js,
    (9 * $width-js) (4 * $width-js) 0 #fff,
    (10 * $width-js) (4 * $width-js) 0 $back-right-js,
    (11 * $width-js) (4 * $width-js) 0 $back-right-js,
    (12 * $width-js) (4 * $width-js) 0 $back-js,
    (13 * $width-js) (4 * $width-js) 0 $back-js,
    (2 * $width-js) (5 * $width-js) 0 $back-js,
    (3 * $width-js) (5 * $width-js) 0 $back-js,
    (4 * $width-js) (5 * $width-js) 0 $back-js,
    (5 * $width-js) (5 * $width-js) 0 #fff,
    (6 * $width-js) (5 * $width-js) 0 $back-js,
    (7 * $width-js) (5 * $width-js) 0 $back-js,
    (8 * $width-js) (5 * $width-js) 0 $back-right-js,
    (9 * $width-js) (5 * $width-js) 0 $back-right-js,
    (10 * $width-js) (5 * $width-js) 0 #fff,
    (11 * $width-js) (5 * $width-js) 0 $back-right-js,
    (12 * $width-js) (5 * $width-js) 0 $back-js,
    (13 * $width-js) (5 * $width-js) 0 $back-js,
    (2 * $width-js) (6 * $width-js) 0 $back-js,
    (3 * $width-js) (6 * $width-js) 0 $back-js,
    (4 * $width-js) (6 * $width-js) 0 $back-js,
    (5 * $width-js) (6 * $width-js) 0 #fff,
    (6 * $width-js) (6 * $width-js) 0 $back-js,
    (7 * $width-js) (6 * $width-js) 0 $back-js,
    (8 * $width-js) (6 * $width-js) 0 $back-right-js,
    (9 * $width-js) (6 * $width-js) 0 $back-right-js,
    (10 * $width-js) (6 * $width-js) 0 $back-right-js,
    (11 * $width-js) (6 * $width-js) 0 #fff,
    (12 * $width-js) (6 * $width-js) 0 $back-js,
    (13 * $width-js) (6 * $width-js) 0 $back-js,
    (3 * $width-js) (7 * $width-js) 0 $back-js,
    (4 * $width-js) (7 * $width-js) 0 #fff,
    (5 * $width-js) (7 * $width-js) 0 #fff,
    (6 * $width-js) (7 * $width-js) 0 $back-js,
    (7 * $width-js) (7 * $width-js) 0 $back-js,
    (8 * $width-js) (7 * $width-js) 0 $back-right-js,
    (9 * $width-js) (7 * $width-js) 0 #fff,
    (10 * $width-js) (7 * $width-js) 0 #fff,
    (11 * $width-js) (7 * $width-js) 0 $back-right-js,
    (12 * $width-js) (7 * $width-js) 0 $back-js,
    (3 * $width-js) (8 * $width-js) 0 $back-js,
    (4 * $width-js) (8 * $width-js) 0 $back-js,
    (5 * $width-js) (8 * $width-js) 0 $back-js,
    (6 * $width-js) (8 * $width-js) 0 $back-js,
    (7 * $width-js) (8 * $width-js) 0 $back-js,
    (8 * $width-js) (8 * $width-js) 0 $back-right-js,
    (9 * $width-js) (8 * $width-js) 0 $back-right-js,
    (10 * $width-js) (8 * $width-js) 0 $back-right-js,
    (11 * $width-js) (8 * $width-js) 0 $back-js,
    (12 * $width-js) (8 * $width-js) 0 $back-js,
    (3 * $width-js) (9 * $width-js) 0 $back-js,
    (4 * $width-js) (9 * $width-js) 0 $back-js,
    (5 * $width-js) (9 * $width-js) 0 $back-js,
    (6 * $width-js) (9 * $width-js) 0 $back-js,
    (7 * $width-js) (9 * $width-js) 0 $back-js,
    (8 * $width-js) (9 * $width-js) 0 $back-right-js,
    (9 * $width-js) (9 * $width-js) 0 $back-right-js,
    (10 * $width-js) (9 * $width-js) 0 $back-right-js,
    (11 * $width-js) (9 * $width-js) 0 $back-js,
    (12 * $width-js) (9 * $width-js) 0 $back-js,
    (4 * $width-js) (10 * $width-js) 0 $back-js,
    (5 * $width-js) (10 * $width-js) 0 $back-js,
    (6 * $width-js) (10 * $width-js) 0 $back-js,
    (7 * $width-js) (10 * $width-js) 0 $back-js,
    (8 * $width-js) (10 * $width-js) 0 $back-right-js,
    (9 * $width-js) (10 * $width-js) 0 $back-right-js,
    (10 * $width-js) (10 * $width-js) 0 $back-js,
    (11 * $width-js) (10 * $width-js) 0 $back-js,
    (5 * $width-js) (11 * $width-js) 0 $back-js,
    (6 * $width-js) (11 * $width-js) 0 $back-js,
    (7 * $width-js) (11 * $width-js) 0 $back-js,
    (8 * $width-js) (11 * $width-js) 0 $back-right-js,
    (9 * $width-js) (11 * $width-js) 0 $back-js,
    (10 * $width-js) (11 * $width-js) 0 $back-js,
    (6 * $width-js) (12 * $width-js) 0 $back-js,
    (7 * $width-js) (12 * $width-js) 0 $back-js,
    (8 * $width-js) (12 * $width-js) 0 $back-js,
    (9 * $width-js) (12 * $width-js) 0 $back-js;
}
.html {
  width: $width-js;
  height: $width-js;
  position: absolute;
  top: 115px;
  left: 40%;
  @media (max-width: 1600px) {
    left: 42%;
  }
  @media (max-width: 1366px) {
    left: 47%;
  }
  @media (max-width: 1200px) {
    left: 41%;
  }
  &__heir {
    position: absolute;
    width: $width-js;
    height: $width-js;
    left: -7px;
    top: -24px;
    box-shadow: (4 * $width-js) (1 * $width-js) 0 $hair1-html,
      (5 * $width-js) (1 * $width-js) 0 $hair1-html,
      (6 * $width-js) (1 * $width-js) 0 $hair1-html,
      (7 * $width-js) (1 * $width-js) 0 $hair1-html,
      (8 * $width-js) (1 * $width-js) 0 $hair2-html,
      (9 * $width-js) (1 * $width-js) 0 $hair2-html,
      (10 * $width-js) (1 * $width-js) 0 $hair2-html,
      (11 * $width-js) (1 * $width-js) 0 $hair2-html,
      (12 * $width-js) (1 * $width-js) 0 $hair2-html,
      (13 * $width-js) (1 * $width-js) 0 $hair2-html,
      (1 * $width-js) (2 * $width-js) 0 $hair2-html,
      (2 * $width-js) (2 * $width-js) 0 $hair2-html,
      (3 * $width-js) (2 * $width-js) 0 $hair1-html,
      (4 * $width-js) (2 * $width-js) 0 $hair1-html,
      (5 * $width-js) (2 * $width-js) 0 $hair1-html,
      (6 * $width-js) (2 * $width-js) 0 $hair1-html,
      (7 * $width-js) (2 * $width-js) 0 $hair1-html,
      (8 * $width-js) (2 * $width-js) 0 $hair1-html,
      (9 * $width-js) (2 * $width-js) 0 $hair1-html,
      (10 * $width-js) (2 * $width-js) 0 $hair1-html,
      (11 * $width-js) (2 * $width-js) 0 $hair1-html,
      (12 * $width-js) (2 * $width-js) 0 $hair1-html,
      (13 * $width-js) (2 * $width-js) 0 $hair2-html,
      (14 * $width-js) (2 * $width-js) 0 $hair2-html,
      (15 * $width-js) (2 * $width-js) 0 $hair2-html,
      (1 * $width-js) (3 * $width-js) 0 $hair1-html,
      (2 * $width-js) (3 * $width-js) 0 $hair1-html,
      (3 * $width-js) (3 * $width-js) 0 $hair1-html,
      (4 * $width-js) (3 * $width-js) 0 $hair1-html,
      (5 * $width-js) (3 * $width-js) 0 $hair1-html,
      (6 * $width-js) (3 * $width-js) 0 $hair1-html,
      (7 * $width-js) (3 * $width-js) 0 $hair1-html,
      (8 * $width-js) (3 * $width-js) 0 $hair1-html,
      (9 * $width-js) (3 * $width-js) 0 $hair1-html,
      (10 * $width-js) (3 * $width-js) 0 $hair1-html,
      (11 * $width-js) (3 * $width-js) 0 $hair1-html,
      (12 * $width-js) (3 * $width-js) 0 $hair1-html,
      (13 * $width-js) (3 * $width-js) 0 $hair1-html,
      (14 * $width-js) (3 * $width-js) 0 $hair2-html,
      (15 * $width-js) (3 * $width-js) 0 $hair2-html,
      (16 * $width-js) (3 * $width-js) 0 $hair2-html,
      (1 * $width-js) (4 * $width-js) 0 $hair1-html,
      (2 * $width-js) (4 * $width-js) 0 $hair1-html,
      (11 * $width-js) (4 * $width-js) 0 $hair3-html,
      (12 * $width-js) (4 * $width-js) 0 $hair3-html,
      (13 * $width-js) (4 * $width-js) 0 $hair1-html,
      (14 * $width-js) (4 * $width-js) 0 $hair1-html,
      (15 * $width-js) (4 * $width-js) 0 $hair2-html,
      (16 * $width-js) (4 * $width-js) 0 $hair2-html,
      (1 * $width-js) (5 * $width-js) 0 $hair3-html,
      (12 * $width-js) (5 * $width-js) 0 $hair1-html,
      (13 * $width-js) (5 * $width-js) 0 $hair1-html,
      (14 * $width-js) (5 * $width-js) 0 $hair1-html,
      (15 * $width-js) (5 * $width-js) 0 $hair2-html,
      (16 * $width-js) (5 * $width-js) 0 $hair1-html,
      (1 * $width-js) (6 * $width-js) 0 $hair3-html,
      (12 * $width-js) (6 * $width-js) 0 $hair1-html,
      (13 * $width-js) (6 * $width-js) 0 $hair1-html,
      (14 * $width-js) (6 * $width-js) 0 $hair1-html,
      (15 * $width-js) (6 * $width-js) 0 $hair1-html,
      (16 * $width-js) (6 * $width-js) 0 $hair3-html,
      (13 * $width-js) (7 * $width-js) 0 $hair3-html,
      (14 * $width-js) (7 * $width-js) 0 $hair3-html,
      (15 * $width-js) (7 * $width-js) 0 $hair3-html;
  }
  box-shadow: (1 * $width-js) (1 * $width-js) 0 $back-html,
    (2 * $width-js) (1 * $width-js) 0 $back-html,
    (3 * $width-js) (1 * $width-js) 0 $back-html,
    (4 * $width-js) (1 * $width-js) 0 $back-html,
    (5 * $width-js) (1 * $width-js) 0 $back-html,
    (6 * $width-js) (1 * $width-js) 0 $back-html,
    (7 * $width-js) (1 * $width-js) 0 $back-html,
    (8 * $width-js) (1 * $width-js) 0 $back-html,
    (9 * $width-js) (1 * $width-js) 0 $back-html,
    (10 * $width-js) (1 * $width-js) 0 $back-html,
    (11 * $width-js) (1 * $width-js) 0 $back-html,
    (12 * $width-js) (1 * $width-js) 0 $back-html,
    (13 * $width-js) (1 * $width-js) 0 $back-html,
    (14 * $width-js) (1 * $width-js) 0 $back-html,
    (1 * $width-js) (2 * $width-js) 0 $back-html,
    (2 * $width-js) (2 * $width-js) 0 $back-html,
    (3 * $width-js) (2 * $width-js) 0 $back-html,
    (4 * $width-js) (2 * $width-js) 0 $back-html,
    (5 * $width-js) (2 * $width-js) 0 $back-html,
    (6 * $width-js) (2 * $width-js) 0 $back-html,
    (7 * $width-js) (2 * $width-js) 0 $back-html,
    (8 * $width-js) (2 * $width-js) 0 $back-right-html,
    (9 * $width-js) (2 * $width-js) 0 $back-right-html,
    (10 * $width-js) (2 * $width-js) 0 $back-right-html,
    (11 * $width-js) (2 * $width-js) 0 $back-right-html,
    (12 * $width-js) (2 * $width-js) 0 $back-right-html,
    (13 * $width-js) (2 * $width-js) 0 $back-html,
    (14 * $width-js) (2 * $width-js) 0 $back-html,
    (1 * $width-js) (3 * $width-js) 0 $back-html,
    (2 * $width-js) (3 * $width-js) 0 $back-html,
    (3 * $width-js) (3 * $width-js) 0 $back-html,
    (4 * $width-js) (3 * $width-js) 0 $back-html,
    (5 * $width-js) (3 * $width-js) 0 #fff,
    (6 * $width-js) (3 * $width-js) 0 #fff,
    (7 * $width-js) (3 * $width-js) 0 #fff,
    (8 * $width-js) (3 * $width-js) 0 #fff,
    (9 * $width-js) (3 * $width-js) 0 #fff,
    (10 * $width-js) (3 * $width-js) 0 #fff,
    (11 * $width-js) (3 * $width-js) 0 $back-right-html,
    (12 * $width-js) (3 * $width-js) 0 $back-right-html,
    (13 * $width-js) (3 * $width-js) 0 $back-html,
    (14 * $width-js) (3 * $width-js) 0 $back-html,
    (2 * $width-js) (4 * $width-js) 0 $back-html,
    (3 * $width-js) (4 * $width-js) 0 $back-html,
    (4 * $width-js) (4 * $width-js) 0 $back-html,
    (5 * $width-js) (4 * $width-js) 0 #fff,
    (6 * $width-js) (4 * $width-js) 0 $back-html,
    (7 * $width-js) (4 * $width-js) 0 $back-html,
    (8 * $width-js) (4 * $width-js) 0 $back-right-html,
    (9 * $width-js) (4 * $width-js) 0 $back-right-html,
    (10 * $width-js) (4 * $width-js) 0 $back-right-html,
    (11 * $width-js) (4 * $width-js) 0 $back-right-html,
    (12 * $width-js) (4 * $width-js) 0 $back-html,
    (13 * $width-js) (4 * $width-js) 0 $back-html,
    (2 * $width-js) (5 * $width-js) 0 $back-html,
    (3 * $width-js) (5 * $width-js) 0 $back-html,
    (4 * $width-js) (5 * $width-js) 0 $back-html,
    (5 * $width-js) (5 * $width-js) 0 #fff,
    (6 * $width-js) (5 * $width-js) 0 #fff,
    (7 * $width-js) (5 * $width-js) 0 #fff,
    (8 * $width-js) (5 * $width-js) 0 #fff,
    (9 * $width-js) (5 * $width-js) 0 #fff,
    (10 * $width-js) (5 * $width-js) 0 #fff,
    (11 * $width-js) (5 * $width-js) 0 $back-right-html,
    (12 * $width-js) (5 * $width-js) 0 $back-html,
    (13 * $width-js) (5 * $width-js) 0 $back-html,
    (2 * $width-js) (6 * $width-js) 0 $back-html,
    (3 * $width-js) (6 * $width-js) 0 $back-html,
    (4 * $width-js) (6 * $width-js) 0 $back-html,
    (5 * $width-js) (6 * $width-js) 0 $back-html,
    (6 * $width-js) (6 * $width-js) 0 $back-html,
    (7 * $width-js) (6 * $width-js) 0 $back-html,
    (8 * $width-js) (6 * $width-js) 0 $back-right-html,
    (9 * $width-js) (6 * $width-js) 0 $back-right-html,
    (10 * $width-js) (6 * $width-js) 0 #fff,
    (11 * $width-js) (6 * $width-js) 0 $back-right-html,
    (12 * $width-js) (6 * $width-js) 0 $back-html,
    (13 * $width-js) (6 * $width-js) 0 $back-html,
    (3 * $width-js) (7 * $width-js) 0 $back-html,
    (4 * $width-js) (7 * $width-js) 0 $back-html,
    (5 * $width-js) (7 * $width-js) 0 $back-html,
    (6 * $width-js) (7 * $width-js) 0 #fff,
    (7 * $width-js) (7 * $width-js) 0 $back-html,
    (8 * $width-js) (7 * $width-js) 0 $back-right-html,
    (9 * $width-js) (7 * $width-js) 0 #fff,
    (10 * $width-js) (7 * $width-js) 0 $back-right-html,
    (11 * $width-js) (7 * $width-js) 0 $back-right-html,
    (12 * $width-js) (7 * $width-js) 0 $back-html,
    (3 * $width-js) (8 * $width-js) 0 $back-html,
    (4 * $width-js) (8 * $width-js) 0 $back-html,
    (5 * $width-js) (8 * $width-js) 0 $back-html,
    (6 * $width-js) (8 * $width-js) 0 #fff,
    (7 * $width-js) (8 * $width-js) 0 #fff,
    (8 * $width-js) (8 * $width-js) 0 #fff,
    (9 * $width-js) (8 * $width-js) 0 $back-right-html,
    (10 * $width-js) (8 * $width-js) 0 $back-right-html,
    (11 * $width-js) (8 * $width-js) 0 $back-html,
    (12 * $width-js) (8 * $width-js) 0 $back-html,
    (3 * $width-js) (9 * $width-js) 0 $back-html,
    (4 * $width-js) (9 * $width-js) 0 $back-html,
    (5 * $width-js) (9 * $width-js) 0 $back-html,
    (6 * $width-js) (9 * $width-js) 0 $back-html,
    (7 * $width-js) (9 * $width-js) 0 $back-html,
    (8 * $width-js) (9 * $width-js) 0 $back-right-html,
    (9 * $width-js) (9 * $width-js) 0 $back-right-html,
    (10 * $width-js) (9 * $width-js) 0 $back-right-html,
    (11 * $width-js) (9 * $width-js) 0 $back-html,
    (12 * $width-js) (9 * $width-js) 0 $back-html,
    (4 * $width-js) (10 * $width-js) 0 $back-html,
    (5 * $width-js) (10 * $width-js) 0 $back-html,
    (6 * $width-js) (10 * $width-js) 0 $back-html,
    (7 * $width-js) (10 * $width-js) 0 $back-html,
    (8 * $width-js) (10 * $width-js) 0 $back-right-html,
    (9 * $width-js) (10 * $width-js) 0 $back-right-html,
    (10 * $width-js) (10 * $width-js) 0 $back-html,
    (11 * $width-js) (10 * $width-js) 0 $back-html,
    (5 * $width-js) (11 * $width-js) 0 $back-html,
    (6 * $width-js) (11 * $width-js) 0 $back-html,
    (7 * $width-js) (11 * $width-js) 0 $back-html,
    (8 * $width-js) (11 * $width-js) 0 $back-right-html,
    (9 * $width-js) (11 * $width-js) 0 $back-html,
    (10 * $width-js) (11 * $width-js) 0 $back-html,
    (6 * $width-js) (12 * $width-js) 0 $back-html,
    (7 * $width-js) (12 * $width-js) 0 $back-html,
    (8 * $width-js) (12 * $width-js) 0 $back-html,
    (9 * $width-js) (12 * $width-js) 0 $back-html;
}
.css {
  width: $width-js;
  height: $width-js;
  position: absolute;
  top: 115px;
  left: 74%;
  @media (max-width: 1600px) {
    left: 72%;
  }
  @media (max-width: 1366px) {
    left: 76%;
  }
  @media (max-width: 1200px) {
    left: 73.5%;
  }
  &__heir {
    position: absolute;
    width: $width-js;
    height: $width-js;
    left: -8px;
    top: -24px;
    box-shadow: (5 * $width-js) (1 * $width-js) 0 $hair2-css,
      (6 * $width-js) (1 * $width-js) 0 $hair1-css,
      (7 * $width-js) (1 * $width-js) 0 $hair1-css,
      (8 * $width-js) (1 * $width-js) 0 $hair1-css,
      (9 * $width-js) (1 * $width-js) 0 $hair1-css,
      (10 * $width-js) (1 * $width-js) 0 $hair1-css,
      (11 * $width-js) (1 * $width-js) 0 $hair2-css,
      (12 * $width-js) (1 * $width-js) 0 $hair2-css,
      (13 * $width-js) (1 * $width-js) 0 $hair1-css,
      (2 * $width-js) (2 * $width-js) 0 $hair1-css,
      (3 * $width-js) (2 * $width-js) 0 $hair2-css,
      (4 * $width-js) (2 * $width-js) 0 $hair1-css,
      (5 * $width-js) (2 * $width-js) 0 $hair1-css,
      (6 * $width-js) (2 * $width-js) 0 $hair1-css,
      (7 * $width-js) (2 * $width-js) 0 $hair1-css,
      (8 * $width-js) (2 * $width-js) 0 $hair1-css,
      (9 * $width-js) (2 * $width-js) 0 $hair1-css,
      (10 * $width-js) (2 * $width-js) 0 $hair1-css,
      (11 * $width-js) (2 * $width-js) 0 $hair1-css,
      (12 * $width-js) (2 * $width-js) 0 $hair1-css,
      (13 * $width-js) (2 * $width-js) 0 $hair2-css,
      (14 * $width-js) (2 * $width-js) 0 $hair1-css,
      (15 * $width-js) (2 * $width-js) 0 $hair2-css,
      (1 * $width-js) (3 * $width-js) 0 $hair2-css,
      (2 * $width-js) (3 * $width-js) 0 $hair1-css,
      (3 * $width-js) (3 * $width-js) 0 $hair1-css,
      (4 * $width-js) (3 * $width-js) 0 $hair1-css,
      (5 * $width-js) (3 * $width-js) 0 $hair1-css,
      (6 * $width-js) (3 * $width-js) 0 $hair1-css,
      (7 * $width-js) (3 * $width-js) 0 $hair1-css,
      (8 * $width-js) (3 * $width-js) 0 $hair1-css,
      (9 * $width-js) (3 * $width-js) 0 $hair1-css,
      (10 * $width-js) (3 * $width-js) 0 $hair1-css,
      (11 * $width-js) (3 * $width-js) 0 $hair1-css,
      (12 * $width-js) (3 * $width-js) 0 $hair1-css,
      (13 * $width-js) (3 * $width-js) 0 $hair1-css,
      (14 * $width-js) (3 * $width-js) 0 $hair1-css,
      (15 * $width-js) (3 * $width-js) 0 $hair1-css,
      (16 * $width-js) (3 * $width-js) 0 $hair2-css,
      (1 * $width-js) (4 * $width-js) 0 $hair1-css,
      (2 * $width-js) (4 * $width-js) 0 $hair1-css,
      (14 * $width-js) (4 * $width-js) 0 $hair1-css,
      (15 * $width-js) (4 * $width-js) 0 $hair1-css,
      (16 * $width-js) (4 * $width-js) 0 $hair2-css,
      (1 * $width-js) (5 * $width-js) 0 $hair1-css,
      (15 * $width-js) (5 * $width-js) 0 $hair1-css,
      (16 * $width-js) (5 * $width-js) 0 $hair1-css,
      (1 * $width-js) (6 * $width-js) 0 $hair1-css,
      (15 * $width-js) (6 * $width-js) 0 $hair1-css,
      (16 * $width-js) (6 * $width-js) 0 $hair1-css,
      (4 * $width-js) (7 * $width-js) 0 $hair1-css,
      (5 * $width-js) (7 * $width-js) 0 $hair1-css,
      (6 * $width-js) (7 * $width-js) 0 $hair1-css,
      (11 * $width-js) (7 * $width-js) 0 $hair1-css,
      (12 * $width-js) (7 * $width-js) 0 $hair1-css,
      (13 * $width-js) (7 * $width-js) 0 $hair1-css,
      (16 * $width-js) (7 * $width-js) 0 $hair2-css,
      (3 * $width-js) (8 * $width-js) 0 $hair1-css,
      (7 * $width-js) (8 * $width-js) 0 $hair1-css,
      (10 * $width-js) (8 * $width-js) 0 $hair1-css,
      (14 * $width-js) (8 * $width-js) 0 $hair1-css,
      (3 * $width-js) (9 * $width-js) 0 $hair1-css,
      (7 * $width-js) (9 * $width-js) 0 $hair1-css,
      (8 * $width-js) (9 * $width-js) 0 $hair1-css,
      (9 * $width-js) (9 * $width-js) 0 $hair1-css,
      (10 * $width-js) (9 * $width-js) 0 $hair1-css,
      (14 * $width-js) (9 * $width-js) 0 $hair1-css,
      (3 * $width-js) (10 * $width-js) 0 $hair1-css,
      (7 * $width-js) (10 * $width-js) 0 $hair1-css,
      (10 * $width-js) (10 * $width-js) 0 $hair1-css,
      (14 * $width-js) (10 * $width-js) 0 $hair1-css,
      (3 * $width-js) (10 * $width-js) 0 $hair1-css,
      (7 * $width-js) (10 * $width-js) 0 $hair1-css,
      (10 * $width-js) (10 * $width-js) 0 $hair1-css,
      (14 * $width-js) (10 * $width-js) 0 $hair1-css,
      (4 * $width-js) (11 * $width-js) 0 $hair1-css,
      (5 * $width-js) (11 * $width-js) 0 $hair1-css,
      (6 * $width-js) (11 * $width-js) 0 $hair1-css,
      (11 * $width-js) (11 * $width-js) 0 $hair1-css,
      (12 * $width-js) (11 * $width-js) 0 $hair1-css,
      (13 * $width-js) (11 * $width-js) 0 $hair1-css;
  }
  box-shadow: (1 * $width-js) (1 * $width-js) 0 $back-css,
    (2 * $width-js) (1 * $width-js) 0 $back-css,
    (3 * $width-js) (1 * $width-js) 0 $back-css,
    (4 * $width-js) (1 * $width-js) 0 $back-css,
    (5 * $width-js) (1 * $width-js) 0 $back-css,
    (6 * $width-js) (1 * $width-js) 0 $back-css,
    (7 * $width-js) (1 * $width-js) 0 $back-css,
    (8 * $width-js) (1 * $width-js) 0 $back-css,
    (9 * $width-js) (1 * $width-js) 0 $back-css,
    (10 * $width-js) (1 * $width-js) 0 $back-css,
    (11 * $width-js) (1 * $width-js) 0 $back-css,
    (12 * $width-js) (1 * $width-js) 0 $back-css,
    (13 * $width-js) (1 * $width-js) 0 $back-css,
    (14 * $width-js) (1 * $width-js) 0 $back-css,
    (1 * $width-js) (2 * $width-js) 0 $back-css,
    (2 * $width-js) (2 * $width-js) 0 $back-css,
    (3 * $width-js) (2 * $width-js) 0 $back-css,
    (4 * $width-js) (2 * $width-js) 0 $back-css,
    (5 * $width-js) (2 * $width-js) 0 $back-css,
    (6 * $width-js) (2 * $width-js) 0 $back-css,
    (7 * $width-js) (2 * $width-js) 0 $back-css,
    (8 * $width-js) (2 * $width-js) 0 $back-right-css,
    (9 * $width-js) (2 * $width-js) 0 $back-right-css,
    (10 * $width-js) (2 * $width-js) 0 $back-right-css,
    (11 * $width-js) (2 * $width-js) 0 $back-right-css,
    (12 * $width-js) (2 * $width-js) 0 $back-right-css,
    (13 * $width-js) (2 * $width-js) 0 $back-css,
    (14 * $width-js) (2 * $width-js) 0 $back-css,
    (1 * $width-js) (3 * $width-js) 0 $back-css,
    (2 * $width-js) (3 * $width-js) 0 $back-css,
    (3 * $width-js) (3 * $width-js) 0 $back-css,
    (4 * $width-js) (3 * $width-js) 0 $back-css,
    (5 * $width-js) (3 * $width-js) 0 $back-css,
    (6 * $width-js) (3 * $width-js) 0 #fff,
    (7 * $width-js) (3 * $width-js) 0 #fff,
    (8 * $width-js) (3 * $width-js) 0 #fff,
    (9 * $width-js) (3 * $width-js) 0 $back-right-css,
    (10 * $width-js) (3 * $width-js) 0 $back-right-css,
    (11 * $width-js) (3 * $width-js) 0 $back-right-css,
    (12 * $width-js) (3 * $width-js) 0 $back-right-css,
    (13 * $width-js) (3 * $width-js) 0 $back-css,
    (14 * $width-js) (3 * $width-js) 0 $back-css,
    (2 * $width-js) (4 * $width-js) 0 $back-css,
    (3 * $width-js) (4 * $width-js) 0 $back-css,
    (4 * $width-js) (4 * $width-js) 0 $back-css,
    (5 * $width-js) (4 * $width-js) 0 $back-css,
    (6 * $width-js) (4 * $width-js) 0 $back-css,
    (7 * $width-js) (4 * $width-js) 0 $back-css,
    (8 * $width-js) (4 * $width-js) 0 $back-right-css,
    (9 * $width-js) (4 * $width-js) 0 #fff,
    (10 * $width-js) (4 * $width-js) 0 $back-right-css,
    (11 * $width-js) (4 * $width-js) 0 $back-right-css,
    (12 * $width-js) (4 * $width-js) 0 $back-css,
    (13 * $width-js) (4 * $width-js) 0 $back-css,
    (2 * $width-js) (5 * $width-js) 0 $back-css,
    (3 * $width-js) (5 * $width-js) 0 $back-css,
    (4 * $width-js) (5 * $width-js) 0 $back-css,
    (5 * $width-js) (5 * $width-js) 0 $back-css,
    (6 * $width-js) (5 * $width-js) 0 $back-css,
    (7 * $width-js) (5 * $width-js) 0 $back-css,
    (8 * $width-js) (5 * $width-js) 0 $back-right-css,
    (9 * $width-js) (5 * $width-js) 0 #fff,
    (10 * $width-js) (5 * $width-js) 0 $back-right-css,
    (11 * $width-js) (5 * $width-js) 0 $back-right-css,
    (12 * $width-js) (5 * $width-js) 0 $back-css,
    (13 * $width-js) (5 * $width-js) 0 $back-css,
    (2 * $width-js) (6 * $width-js) 0 $back-css,
    (3 * $width-js) (6 * $width-js) 0 $back-css,
    (4 * $width-js) (6 * $width-js) 0 $back-css,
    (5 * $width-js) (6 * $width-js) 0 $back-css,
    (6 * $width-js) (6 * $width-js) 0 $back-css,
    (7 * $width-js) (6 * $width-js) 0 #fff,
    (8 * $width-js) (6 * $width-js) 0 #fff,
    (9 * $width-js) (6 * $width-js) 0 $back-right-css,
    (10 * $width-js) (6 * $width-js) 0 $back-right-css,
    (11 * $width-js) (6 * $width-js) 0 $back-right-css,
    (12 * $width-js) (6 * $width-js) 0 $back-css,
    (13 * $width-js) (6 * $width-js) 0 $back-css,
    (3 * $width-js) (7 * $width-js) 0 $back-css,
    (4 * $width-js) (7 * $width-js) 0 $back-css,
    (5 * $width-js) (7 * $width-js) 0 $back-css,
    (6 * $width-js) (7 * $width-js) 0 $back-css,
    (7 * $width-js) (7 * $width-js) 0 $back-css,
    (8 * $width-js) (7 * $width-js) 0 $back-right-css,
    (9 * $width-js) (7 * $width-js) 0 #fff,
    (10 * $width-js) (7 * $width-js) 0 $back-right-css,
    (11 * $width-js) (7 * $width-js) 0 $back-right-css,
    (12 * $width-js) (7 * $width-js) 0 $back-css,
    (3 * $width-js) (8 * $width-js) 0 $back-css,
    (4 * $width-js) (8 * $width-js) 0 $back-css,
    (5 * $width-js) (8 * $width-js) 0 $back-css,
    (6 * $width-js) (8 * $width-js) 0 $back-css,
    (7 * $width-js) (8 * $width-js) 0 $back-css,
    (8 * $width-js) (8 * $width-js) 0 $back-right-css,
    (9 * $width-js) (8 * $width-js) 0 #fff,
    (10 * $width-js) (8 * $width-js) 0 $back-right-css,
    (11 * $width-js) (8 * $width-js) 0 $back-css,
    (12 * $width-js) (8 * $width-js) 0 $back-css,
    (3 * $width-js) (9 * $width-js) 0 $back-css,
    (4 * $width-js) (9 * $width-js) 0 $back-css,
    (5 * $width-js) (9 * $width-js) 0 $back-css,
    (6 * $width-js) (9 * $width-js) 0 #fff,
    (7 * $width-js) (9 * $width-js) 0 #fff,
    (8 * $width-js) (9 * $width-js) 0 #fff,
    (9 * $width-js) (9 * $width-js) 0 $back-right-css,
    (10 * $width-js) (9 * $width-js) 0 $back-right-css,
    (11 * $width-js) (9 * $width-js) 0 $back-css,
    (12 * $width-js) (9 * $width-js) 0 $back-css,
    (4 * $width-js) (10 * $width-js) 0 $back-css,
    (5 * $width-js) (10 * $width-js) 0 $back-css,
    (6 * $width-js) (10 * $width-js) 0 $back-css,
    (7 * $width-js) (10 * $width-js) 0 $back-css,
    (8 * $width-js) (10 * $width-js) 0 $back-right-css,
    (9 * $width-js) (10 * $width-js) 0 $back-right-css,
    (10 * $width-js) (10 * $width-js) 0 $back-css,
    (11 * $width-js) (10 * $width-js) 0 $back-css,
    (5 * $width-js) (11 * $width-js) 0 $back-css,
    (6 * $width-js) (11 * $width-js) 0 $back-css,
    (7 * $width-js) (11 * $width-js) 0 $back-css,
    (8 * $width-js) (11 * $width-js) 0 $back-right-css,
    (9 * $width-js) (11 * $width-js) 0 $back-css,
    (10 * $width-js) (11 * $width-js) 0 $back-css,
    (6 * $width-js) (12 * $width-js) 0 $back-css,
    (7 * $width-js) (12 * $width-js) 0 $back-css,
    (8 * $width-js) (12 * $width-js) 0 $back-css,
    (9 * $width-js) (12 * $width-js) 0 $back-css;
}
.mcgonagall {
  width: $width-mcgonagall;
  height: $width-mcgonagall;
  position: absolute;
  top: 15px;
  left: 8%;
  &__box {
    position: absolute;
    width: 600px;
    height: $width-mcgonagall * 32;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  @media (min-width: 3439px) {
    left: 5%;
  }
  @media (max-width: 1600px) {
    left: 10%;
  }
  @media (max-width: 1366px) {
    left: 7%;
  }
  @media (max-width: 1200px) {
    left: 60px;
  }
  &__dialog {
    position: absolute;
    left: 45%;
    top: 90px;
    @media (min-width: 3439px) {
      left: 45%;
    }
    @media (max-width: 1600px) {
      left: 49%;
    }
    @media (max-width: 1366px) {
      left: 44%;
    }
    @media (max-width: 1200px) {
      left: 280px;
    }
  }
  box-shadow: (8 * $width-mcgonagall) (1 * $width-mcgonagall) 0 $hat-mcgonagall,
    (9 * $width-mcgonagall) (1 * $width-mcgonagall) 0 $hat-mcgonagall,
    (8 * $width-mcgonagall) (2 * $width-mcgonagall) 0 $hat-mcgonagall,
    (9 * $width-mcgonagall) (2 * $width-mcgonagall) 0 $hat-mcgonagall,
    (10 * $width-mcgonagall) (2 * $width-mcgonagall) 0 $hat-mcgonagall,
    (7 * $width-mcgonagall) (3 * $width-mcgonagall) 0 $hat-mcgonagall,
    (8 * $width-mcgonagall) (3 * $width-mcgonagall) 0 $hat-mcgonagall,
    (9 * $width-mcgonagall) (3 * $width-mcgonagall) 0 $hat-mcgonagall,
    (10 * $width-mcgonagall) (3 * $width-mcgonagall) 0 $hat-mcgonagall,
    (11 * $width-mcgonagall) (3 * $width-mcgonagall) 0 $hat-mcgonagall,
    (7 * $width-mcgonagall) (4 * $width-mcgonagall) 0 $hat-mcgonagall,
    (8 * $width-mcgonagall) (4 * $width-mcgonagall) 0 $hat-mcgonagall,
    (9 * $width-mcgonagall) (4 * $width-mcgonagall) 0 $hat-mcgonagall,
    (10 * $width-mcgonagall) (4 * $width-mcgonagall) 0 $hat-mcgonagall,
    (11 * $width-mcgonagall) (4 * $width-mcgonagall) 0 $hat-mcgonagall,
    (12 * $width-mcgonagall) (4 * $width-mcgonagall) 0 $hat-mcgonagall,
    (6 * $width-mcgonagall) (5 * $width-mcgonagall) 0 $hat-mcgonagall,
    (7 * $width-mcgonagall) (5 * $width-mcgonagall) 0 $hat-mcgonagall,
    (8 * $width-mcgonagall) (5 * $width-mcgonagall) 0 $hat-mcgonagall,
    (9 * $width-mcgonagall) (5 * $width-mcgonagall) 0 $hat-mcgonagall,
    (10 * $width-mcgonagall) (5 * $width-mcgonagall) 0 $hat-mcgonagall,
    (11 * $width-mcgonagall) (5 * $width-mcgonagall) 0 $hat-mcgonagall,
    (12 * $width-mcgonagall) (5 * $width-mcgonagall) 0 $hat-mcgonagall,
    (13 * $width-mcgonagall) (5 * $width-mcgonagall) 0 $hat-mcgonagall,
    (5 * $width-mcgonagall) (6 * $width-mcgonagall) 0 $hat-mcgonagall,
    (6 * $width-mcgonagall) (6 * $width-mcgonagall) 0 $hat-mcgonagall,
    (7 * $width-mcgonagall) (6 * $width-mcgonagall) 0 $hat-mcgonagall,
    (8 * $width-mcgonagall) (6 * $width-mcgonagall) 0 $hat-mcgonagall,
    (9 * $width-mcgonagall) (6 * $width-mcgonagall) 0 $hat-mcgonagall,
    (10 * $width-mcgonagall) (6 * $width-mcgonagall) 0 $hat-mcgonagall,
    (11 * $width-mcgonagall) (6 * $width-mcgonagall) 0 $hat-mcgonagall,
    (12 * $width-mcgonagall) (6 * $width-mcgonagall) 0 $hat-mcgonagall,
    (13 * $width-mcgonagall) (6 * $width-mcgonagall) 0 $hat-mcgonagall,
    (14 * $width-mcgonagall) (6 * $width-mcgonagall) 0 $hat-mcgonagall,
    (5 * $width-mcgonagall) (7 * $width-mcgonagall) 0 $hat-mcgonagall,
    (6 * $width-mcgonagall) (7 * $width-mcgonagall) 0 $hat-mcgonagall,
    (7 * $width-mcgonagall) (7 * $width-mcgonagall) 0 $hat-mcgonagall,
    (8 * $width-mcgonagall) (7 * $width-mcgonagall) 0 $hat-mcgonagall,
    (9 * $width-mcgonagall) (7 * $width-mcgonagall) 0 $hat-mcgonagall,
    (10 * $width-mcgonagall) (7 * $width-mcgonagall) 0 $hat-mcgonagall,
    (11 * $width-mcgonagall) (7 * $width-mcgonagall) 0 $hat-mcgonagall,
    (12 * $width-mcgonagall) (7 * $width-mcgonagall) 0 $hat-mcgonagall,
    (13 * $width-mcgonagall) (7 * $width-mcgonagall) 0 $hat-mcgonagall,
    (14 * $width-mcgonagall) (7 * $width-mcgonagall) 0 $hat-mcgonagall,
    (15 * $width-mcgonagall) (7 * $width-mcgonagall) 0 $hat-mcgonagall,
    (4 * $width-mcgonagall) (8 * $width-mcgonagall) 0 $hat-mcgonagall,
    (5 * $width-mcgonagall) (8 * $width-mcgonagall) 0 $hat-mcgonagall,
    (6 * $width-mcgonagall) (8 * $width-mcgonagall) 0 $hat-mcgonagall,
    (7 * $width-mcgonagall) (8 * $width-mcgonagall) 0 $hat-mcgonagall,
    (8 * $width-mcgonagall) (8 * $width-mcgonagall) 0 $hat-mcgonagall,
    (9 * $width-mcgonagall) (8 * $width-mcgonagall) 0 $hat-mcgonagall,
    (10 * $width-mcgonagall) (8 * $width-mcgonagall) 0 $hat-mcgonagall,
    (11 * $width-mcgonagall) (8 * $width-mcgonagall) 0 $hat-mcgonagall,
    (12 * $width-mcgonagall) (8 * $width-mcgonagall) 0 $hat-mcgonagall,
    (13 * $width-mcgonagall) (8 * $width-mcgonagall) 0 $hat-mcgonagall,
    (14 * $width-mcgonagall) (8 * $width-mcgonagall) 0 $hat-mcgonagall,
    (15 * $width-mcgonagall) (8 * $width-mcgonagall) 0 $hat-mcgonagall,
    (16 * $width-mcgonagall) (8 * $width-mcgonagall) 0 $hat-mcgonagall,
    (17 * $width-mcgonagall) (8 * $width-mcgonagall) 0 $hat-mcgonagall,
    (18 * $width-mcgonagall) (8 * $width-mcgonagall) 0 $hat-mcgonagall,
    (3 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hat-mcgonagall,
    (4 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hat-mcgonagall,
    (5 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hat-mcgonagall,
    (6 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hat-mcgonagall,
    (7 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hat-mcgonagall,
    (8 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hat-mcgonagall,
    (9 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hat-mcgonagall,
    (10 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hat-mcgonagall,
    (11 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hat-mcgonagall,
    (12 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hair-mcgonagall,
    (13 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hair-mcgonagall,
    (14 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hair-mcgonagall,
    (15 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hat-mcgonagall,
    (16 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hat-mcgonagall,
    (17 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hat-mcgonagall,
    (18 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hat-mcgonagall,
    (19 * $width-mcgonagall) (9 * $width-mcgonagall) 0 $hat-mcgonagall,
    (2 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $hat-mcgonagall,
    (3 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $hat-mcgonagall,
    (4 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $hat-mcgonagall,
    (5 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $hat-mcgonagall,
    (6 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $hat-mcgonagall,
    (7 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $hat-mcgonagall,
    (8 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $skin-mcgonagall,
    (9 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $skin-mcgonagall,
    (10 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $skin-mcgonagall,
    (11 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $skin-mcgonagall,
    (12 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $skin-mcgonagall,
    (13 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $hair-mcgonagall,
    (14 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $hair-mcgonagall,
    (15 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $hair-mcgonagall,
    (16 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $hair-mcgonagall,
    (17 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $hat-mcgonagall,
    (18 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $hat-mcgonagall,
    (19 * $width-mcgonagall) (10 * $width-mcgonagall) 0 $hat-mcgonagall,
    (1 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $hat-mcgonagall,
    (2 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $hat-mcgonagall,
    (3 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $hat-mcgonagall,
    (4 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $hair-mcgonagall,
    (5 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $hair-mcgonagall,
    (6 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $skin-mcgonagall,
    (7 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $skin-mcgonagall,
    (8 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $skin-mcgonagall,
    (9 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $skin-mcgonagall,
    (10 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $skin-mcgonagall,
    (11 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $skin-mcgonagall,
    (12 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $skin-mcgonagall,
    (13 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $skin-mcgonagall,
    (14 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $skin-mcgonagall,
    (15 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $skin-mcgonagall,
    (16 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $hair-mcgonagall,
    (17 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $hat-mcgonagall,
    (18 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $hat-mcgonagall,
    (19 * $width-mcgonagall) (11 * $width-mcgonagall) 0 $hat-mcgonagall,
    (1 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $hat-mcgonagall,
    (2 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $hat-mcgonagall,
    (3 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $hair-mcgonagall,
    (4 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $hair-mcgonagall,
    (5 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $brows-mcgonagall,
    (6 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $brows-mcgonagall,
    (7 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $skin-mcgonagall,
    (8 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $skin-mcgonagall,
    (9 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $skin-mcgonagall,
    (10 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $skin-mcgonagall,
    (11 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $skin-mcgonagall,
    (12 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $skin-mcgonagall,
    (13 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $skin-mcgonagall,
    (14 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $brows-mcgonagall,
    (15 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $brows-mcgonagall,
    (16 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $hair-mcgonagall,
    (17 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $hair-mcgonagall,
    (18 * $width-mcgonagall) (12 * $width-mcgonagall) 0 $hat-mcgonagall,
    (1 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $hat-mcgonagall,
    (2 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $hat-mcgonagall,
    (3 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $hair-mcgonagall,
    (4 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $skin-mcgonagall,
    (5 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $skin-mcgonagall,
    (6 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $skin-mcgonagall,
    (7 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $brows-mcgonagall,
    (8 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $brows-mcgonagall,
    (9 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $skin-mcgonagall,
    (10 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $skin-mcgonagall,
    (11 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $skin-mcgonagall,
    (12 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $brows-mcgonagall,
    (13 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $brows-mcgonagall,
    (14 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $skin-mcgonagall,
    (15 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $skin-mcgonagall,
    (16 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $hair-mcgonagall,
    (17 * $width-mcgonagall) (13 * $width-mcgonagall) 0 $hair-mcgonagall,
    (1 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $hat-mcgonagall,
    (2 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $hat-mcgonagall,
    (3 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $hair-mcgonagall,
    (4 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $skin-mcgonagall,
    (5 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $hat-mcgonagall,
    (6 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $hat-mcgonagall,
    (7 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $hat-mcgonagall,
    (8 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $skin-mcgonagall,
    (9 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $skin-mcgonagall,
    (10 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $skin-mcgonagall,
    (11 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $skin-mcgonagall,
    (12 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $skin-mcgonagall,
    (13 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $hat-mcgonagall,
    (14 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $hat-mcgonagall,
    (15 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $hat-mcgonagall,
    (16 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $hair-mcgonagall,
    (17 * $width-mcgonagall) (14 * $width-mcgonagall) 0 $skin-mcgonagall,
    (2 * $width-mcgonagall) (15 * $width-mcgonagall) 0 $hat-mcgonagall,
    (3 * $width-mcgonagall) (15 * $width-mcgonagall) 0 $skin-mcgonagall,
    (4 * $width-mcgonagall) (15 * $width-mcgonagall) 0 $skin-mcgonagall,
    (5 * $width-mcgonagall) (15 * $width-mcgonagall) 0 $hat-mcgonagall,
    (6 * $width-mcgonagall) (15 * $width-mcgonagall) 0 $hat-mcgonagall,
    (7 * $width-mcgonagall) (15 * $width-mcgonagall) 0 $hat-mcgonagall,
    (8 * $width-mcgonagall) (15 * $width-mcgonagall) 0 $skin-mcgonagall,
    (9 * $width-mcgonagall) (15 * $width-mcgonagall) 0 $skin-mcgonagall,
    (10 * $width-mcgonagall) (15 * $width-mcgonagall) 0 $skin-mcgonagall,
    (11 * $width-mcgonagall) (15 * $width-mcgonagall) 0 $skin-mcgonagall,
    (12 * $width-mcgonagall) (15 * $width-mcgonagall) 0 $skin-mcgonagall,
    (13 * $width-mcgonagall) (15 * $width-mcgonagall) 0 $hat-mcgonagall,
    (14 * $width-mcgonagall) (15 * $width-mcgonagall) 0 $hat-mcgonagall,
    (15 * $width-mcgonagall) (15 * $width-mcgonagall) 0 $hat-mcgonagall,
    (16 * $width-mcgonagall) (15 * $width-mcgonagall) 0 $skin-mcgonagall,
    (17 * $width-mcgonagall) (15 * $width-mcgonagall) 0 $skin-mcgonagall,
    (4 * $width-mcgonagall) (16 * $width-mcgonagall) 0 $skin-mcgonagall,
    (5 * $width-mcgonagall) (16 * $width-mcgonagall) 0 $skin-mcgonagall,
    (6 * $width-mcgonagall) (16 * $width-mcgonagall) 0 $skin-mcgonagall,
    (7 * $width-mcgonagall) (16 * $width-mcgonagall) 0 $skin-mcgonagall,
    (8 * $width-mcgonagall) (16 * $width-mcgonagall) 0 $skin-mcgonagall,
    (9 * $width-mcgonagall) (16 * $width-mcgonagall) 0 $skin-mcgonagall,
    (10 * $width-mcgonagall) (16 * $width-mcgonagall) 0 $skin-mcgonagall,
    (11 * $width-mcgonagall) (16 * $width-mcgonagall) 0 $skin-mcgonagall,
    (12 * $width-mcgonagall) (16 * $width-mcgonagall) 0 $skin-mcgonagall,
    (13 * $width-mcgonagall) (16 * $width-mcgonagall) 0 $skin-mcgonagall,
    (14 * $width-mcgonagall) (16 * $width-mcgonagall) 0 $skin-mcgonagall,
    (15 * $width-mcgonagall) (16 * $width-mcgonagall) 0 $skin-mcgonagall,
    (16 * $width-mcgonagall) (16 * $width-mcgonagall) 0 $skin-mcgonagall,
    (4 * $width-mcgonagall) (17 * $width-mcgonagall) 0 $skin-mcgonagall,
    (5 * $width-mcgonagall) (17 * $width-mcgonagall) 0 $skin-mcgonagall,
    (6 * $width-mcgonagall) (17 * $width-mcgonagall) 0 $skin-mcgonagall,
    (7 * $width-mcgonagall) (17 * $width-mcgonagall) 0 $skin-mcgonagall,
    (8 * $width-mcgonagall) (17 * $width-mcgonagall) 0 $skin-mcgonagall,
    (9 * $width-mcgonagall) (17 * $width-mcgonagall) 0 $hat-mcgonagall,
    (10 * $width-mcgonagall) (17 * $width-mcgonagall) 0 $hat-mcgonagall,
    (11 * $width-mcgonagall) (17 * $width-mcgonagall) 0 $hat-mcgonagall,
    (12 * $width-mcgonagall) (17 * $width-mcgonagall) 0 $skin-mcgonagall,
    (13 * $width-mcgonagall) (17 * $width-mcgonagall) 0 $skin-mcgonagall,
    (14 * $width-mcgonagall) (17 * $width-mcgonagall) 0 $skin-mcgonagall,
    (15 * $width-mcgonagall) (17 * $width-mcgonagall) 0 $skin-mcgonagall,
    (16 * $width-mcgonagall) (17 * $width-mcgonagall) 0 $skin-mcgonagall,
    (5 * $width-mcgonagall) (18 * $width-mcgonagall) 0 $skin-mcgonagall,
    (6 * $width-mcgonagall) (18 * $width-mcgonagall) 0 $skin-mcgonagall,
    (7 * $width-mcgonagall) (18 * $width-mcgonagall) 0 $skin-mcgonagall,
    (8 * $width-mcgonagall) (18 * $width-mcgonagall) 0 $skin-mcgonagall,
    (9 * $width-mcgonagall) (18 * $width-mcgonagall) 0 $skin-mcgonagall,
    (10 * $width-mcgonagall) (18 * $width-mcgonagall) 0 $skin-mcgonagall,
    (11 * $width-mcgonagall) (18 * $width-mcgonagall) 0 $skin-mcgonagall,
    (12 * $width-mcgonagall) (18 * $width-mcgonagall) 0 $skin-mcgonagall,
    (13 * $width-mcgonagall) (18 * $width-mcgonagall) 0 $skin-mcgonagall,
    (14 * $width-mcgonagall) (18 * $width-mcgonagall) 0 $skin-mcgonagall,
    (15 * $width-mcgonagall) (18 * $width-mcgonagall) 0 $skin-mcgonagall,
    (8 * $width-mcgonagall) (19 * $width-mcgonagall) 0 $cape-mcgonagall,
    (9 * $width-mcgonagall) (19 * $width-mcgonagall) 0 $cape-mcgonagall,
    (10 * $width-mcgonagall) (19 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (11 * $width-mcgonagall) (19 * $width-mcgonagall) 0 $cape-mcgonagall,
    (12 * $width-mcgonagall) (19 * $width-mcgonagall) 0 $cape-mcgonagall,
    (7 * $width-mcgonagall) (20 * $width-mcgonagall) 0 $cape-mcgonagall,
    (8 * $width-mcgonagall) (20 * $width-mcgonagall) 0 $cape-mcgonagall,
    (9 * $width-mcgonagall) (20 * $width-mcgonagall) 0 $cape-mcgonagall,
    (10 * $width-mcgonagall) (20 * $width-mcgonagall) 0 #fff,
    (11 * $width-mcgonagall) (20 * $width-mcgonagall) 0 $cape-mcgonagall,
    (12 * $width-mcgonagall) (20 * $width-mcgonagall) 0 $skin-mcgonagall,
    (13 * $width-mcgonagall) (20 * $width-mcgonagall) 0 $cape-mcgonagall,
    (7 * $width-mcgonagall) (21 * $width-mcgonagall) 0 $cape-mcgonagall,
    (8 * $width-mcgonagall) (21 * $width-mcgonagall) 0 $cape-mcgonagall,
    (9 * $width-mcgonagall) (21 * $width-mcgonagall) 0 $cape-mcgonagall,
    (10 * $width-mcgonagall) (21 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (11 * $width-mcgonagall) (21 * $width-mcgonagall) 0 $skin-mcgonagall,
    (12 * $width-mcgonagall) (21 * $width-mcgonagall) 0 $skin-mcgonagall,
    (13 * $width-mcgonagall) (21 * $width-mcgonagall) 0 $cape-mcgonagall,
    (6 * $width-mcgonagall) (22 * $width-mcgonagall) 0 $cape-mcgonagall,
    (7 * $width-mcgonagall) (22 * $width-mcgonagall) 0 $cape-mcgonagall,
    (8 * $width-mcgonagall) (22 * $width-mcgonagall) 0 $cape-mcgonagall,
    (9 * $width-mcgonagall) (22 * $width-mcgonagall) 0 $cape-mcgonagall,
    (10 * $width-mcgonagall) (22 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (11 * $width-mcgonagall) (22 * $width-mcgonagall) 0 $cape-mcgonagall,
    (12 * $width-mcgonagall) (22 * $width-mcgonagall) 0 $cape-mcgonagall,
    (13 * $width-mcgonagall) (22 * $width-mcgonagall) 0 $cape-mcgonagall,
    (6 * $width-mcgonagall) (23 * $width-mcgonagall) 0 $skin-mcgonagall,
    (7 * $width-mcgonagall) (23 * $width-mcgonagall) 0 $skin-mcgonagall,
    (8 * $width-mcgonagall) (23 * $width-mcgonagall) 0 $cape-mcgonagall,
    (9 * $width-mcgonagall) (23 * $width-mcgonagall) 0 $cape-mcgonagall,
    (10 * $width-mcgonagall) (23 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (11 * $width-mcgonagall) (23 * $width-mcgonagall) 0 $cape-mcgonagall,
    (12 * $width-mcgonagall) (23 * $width-mcgonagall) 0 $cape-mcgonagall,
    (6 * $width-mcgonagall) (24 * $width-mcgonagall) 0 $skin-mcgonagall,
    (7 * $width-mcgonagall) (24 * $width-mcgonagall) 0 $hat-mcgonagall,
    (8 * $width-mcgonagall) (24 * $width-mcgonagall) 0 $cape-mcgonagall,
    (9 * $width-mcgonagall) (24 * $width-mcgonagall) 0 $cape-mcgonagall,
    (10 * $width-mcgonagall) (24 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (11 * $width-mcgonagall) (24 * $width-mcgonagall) 0 $cape-mcgonagall,
    (12 * $width-mcgonagall) (24 * $width-mcgonagall) 0 $cape-mcgonagall,
    (7 * $width-mcgonagall) (25 * $width-mcgonagall) 0 $cape-mcgonagall,
    (8 * $width-mcgonagall) (25 * $width-mcgonagall) 0 $hat-mcgonagall,
    (9 * $width-mcgonagall) (25 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (10 * $width-mcgonagall) (25 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (11 * $width-mcgonagall) (25 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (12 * $width-mcgonagall) (25 * $width-mcgonagall) 0 $cape-mcgonagall,
    (7 * $width-mcgonagall) (26 * $width-mcgonagall) 0 $cape-mcgonagall,
    (8 * $width-mcgonagall) (26 * $width-mcgonagall) 0 $cape-mcgonagall,
    (9 * $width-mcgonagall) (26 * $width-mcgonagall) 0 $hat-mcgonagall,
    (10 * $width-mcgonagall) (26 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (11 * $width-mcgonagall) (26 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (12 * $width-mcgonagall) (26 * $width-mcgonagall) 0 $cape-mcgonagall,
    (13 * $width-mcgonagall) (26 * $width-mcgonagall) 0 $cape-mcgonagall,
    (7 * $width-mcgonagall) (27 * $width-mcgonagall) 0 $cape-mcgonagall,
    (8 * $width-mcgonagall) (27 * $width-mcgonagall) 0 $cape-mcgonagall,
    (9 * $width-mcgonagall) (27 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (10 * $width-mcgonagall) (27 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (11 * $width-mcgonagall) (27 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (12 * $width-mcgonagall) (27 * $width-mcgonagall) 0 $cape-mcgonagall,
    (13 * $width-mcgonagall) (27 * $width-mcgonagall) 0 $cape-mcgonagall,
    (6 * $width-mcgonagall) (28 * $width-mcgonagall) 0 $cape-mcgonagall,
    (7 * $width-mcgonagall) (28 * $width-mcgonagall) 0 $cape-mcgonagall,
    (8 * $width-mcgonagall) (28 * $width-mcgonagall) 0 $cape-mcgonagall,
    (9 * $width-mcgonagall) (28 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (10 * $width-mcgonagall) (28 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (11 * $width-mcgonagall) (28 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (12 * $width-mcgonagall) (28 * $width-mcgonagall) 0 $cape-mcgonagall,
    (13 * $width-mcgonagall) (28 * $width-mcgonagall) 0 $cape-mcgonagall,
    (6 * $width-mcgonagall) (29 * $width-mcgonagall) 0 $cape-mcgonagall,
    (7 * $width-mcgonagall) (29 * $width-mcgonagall) 0 $cape-mcgonagall,
    (8 * $width-mcgonagall) (29 * $width-mcgonagall) 0 $cape-mcgonagall,
    (9 * $width-mcgonagall) (29 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (10 * $width-mcgonagall) (29 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (11 * $width-mcgonagall) (29 * $width-mcgonagall) 0 $shirt-mcgonagall,
    (12 * $width-mcgonagall) (29 * $width-mcgonagall) 0 $cape-mcgonagall,
    (13 * $width-mcgonagall) (29 * $width-mcgonagall) 0 $cape-mcgonagall;
}
