$width-yoda: 12px;

$sword-yoda: #498b41;
$handle-yoda: #626368;
$handle-shadow-yoda: #45464a;
$skin-yoda: #375227;
$skin-shadow-yoda: #213418;
$jacket-shadow-yoda: #807c70;
$jacket-yoda: #8c897a;
$shirt-yoda: #3c1414;
$belt-yoda: #331110;
$black-yoda: #090504;

.yoda {
  width: $width-yoda;
  height: $width-yoda;
  position: absolute;
  top: 130px;
  left: 15%;
  &__dialog {
    position: absolute;
    left: 45%;
    top: 100px;
    @media (max-width: 1600px) {
      left: 55%;
    }
  }
  &__sword {
    position: absolute;
    width: $width-yoda * 1;
    height: $width-yoda * 9;
    background-color: $sword-yoda;
    left: 36px;
    bottom: -96px;
    transition: height 300ms;
    -moz-transition: height 300ms;
    -webkit-transition: height 300ms;
    -o-transition: height 300ms;
    -ms-transition: height 300ms;
    // filter: blur(1px);
    // -moz-filter: blur(1px);
    // -webkit-filter: blur(1px);
    // -o-filter: blur(1px);
    // -ms-filter: blur(1px);
    background: rgb(135, 220, 90); /* Old browsers */
    background: linear-gradient(
      to right,
      rgb(135, 220, 90) 0%,
      rgb(254, 254, 254) 30%,
      rgb(254, 254, 254) 50%,
      rgb(254, 254, 254) 70%,
      rgb(135, 220, 90) 100%
    ); /* W3C */
    background: -moz-linear-gradient(
      left,
      rgb(135, 220, 90) 0%,
      rgb(254, 254, 254) 30%,
      rgb(254, 254, 254) 50%,
      rgb(254, 254, 254) 70%,
      rgb(135, 220, 90) 100%
    ); /* FF3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0%, rgb(135, 220, 90)),
      color-stop(30%, rgb(254, 254, 254)),
      color-stop(50%, rgb(254, 254, 254)),
      color-stop(70%, rgb(254, 254, 254)),
      color-stop(100%, rgb(135, 220, 90))
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
      left,
      rgb(135, 220, 90) 0%,
      rgb(254, 254, 254) 30%,
      rgb(254, 254, 254) 50%,
      rgb(254, 254, 254) 70%,
      rgb(135, 220, 90) 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
      left,
      rgb(135, 220, 90) 0%,
      rgb(254, 254, 254) 30%,
      rgb(254, 254, 254) 50%,
      rgb(254, 254, 254) 70%,
      rgb(135, 220, 90) 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(
      left,
      rgb(135, 220, 90) 0%,
      rgb(254, 254, 254) 30%,
      rgb(254, 254, 254) 50%,
      rgb(254, 254, 254) 70%,
      rgb(135, 220, 90) 100%
    ); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87dc5a', endColorstr='#87dc5a',GradientType=1 ); /* IE6-9 */
    animation-name: yoda;
    -moz-animation-name: yoda;
    -webkit-animation-name: yoda;
    -o-animation-name: yoda;
    -ms-animation-name: yoda;
    animation-duration: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -o-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    @keyframes yoda {
      from {
        box-shadow: 0 0 10px #7ec855;
      }
      50% {
        box-shadow: 0 0 16px #7ec855;
      }
      to {
        box-shadow: 0 0 10px #7ec855;
      }
    }
    @-moz-keyframes yoda {
      from {
        box-shadow: 0 0 10px #7ec855;
      }
      50% {
        box-shadow: 0 0 16px #7ec855;
      }
      to {
        box-shadow: 0 0 10px #7ec855;
      }
    }
    @-webkit-keyframes yoda {
      from {
        box-shadow: 0 0 10px #7ec855;
      }
      50% {
        box-shadow: 0 0 16px #7ec855;
      }
      to {
        box-shadow: 0 0 10px #7ec855;
      }
    }
    @-o-keyframes yoda {
      from {
        box-shadow: 0 0 10px #7ec855;
      }
      50% {
        box-shadow: 0 0 16px #7ec855;
      }
      to {
        box-shadow: 0 0 10px #7ec855;
      }
    }
    @-ms-keyframes yoda {
      from {
        box-shadow: 0 0 10px #7ec855;
      }
      50% {
        box-shadow: 0 0 16px #7ec855;
      }
      to {
        box-shadow: 0 0 10px #7ec855;
      }
    }
  }
  box-shadow: (6 * $width-yoda) (1 * $width-yoda) 0 $skin-shadow-yoda,
    (7 * $width-yoda) (1 * $width-yoda) 0 $skin-shadow-yoda,
    (8 * $width-yoda) (1 * $width-yoda) 0 $skin-yoda,
    (9 * $width-yoda) (1 * $width-yoda) 0 $skin-yoda,
    (10 * $width-yoda) (1 * $width-yoda) 0 $skin-yoda,
    (11 * $width-yoda) (1 * $width-yoda) 0 $skin-yoda,
    (4 * $width-yoda) (2 * $width-yoda) 0 $skin-shadow-yoda,
    (5 * $width-yoda) (2 * $width-yoda) 0 $skin-shadow-yoda,
    (6 * $width-yoda) (2 * $width-yoda) 0 $skin-shadow-yoda,
    (7 * $width-yoda) (2 * $width-yoda) 0 $skin-shadow-yoda,
    (8 * $width-yoda) (2 * $width-yoda) 0 $skin-yoda,
    (9 * $width-yoda) (2 * $width-yoda) 0 $skin-yoda,
    (10 * $width-yoda) (2 * $width-yoda) 0 $skin-yoda,
    (11 * $width-yoda) (2 * $width-yoda) 0 $skin-yoda,
    (12 * $width-yoda) (2 * $width-yoda) 0 $skin-yoda,
    (13 * $width-yoda) (2 * $width-yoda) 0 $skin-yoda,
    (5 * $width-yoda) (3 * $width-yoda) 0 $skin-shadow-yoda,
    (6 * $width-yoda) (3 * $width-yoda) 0 $skin-shadow-yoda,
    (7 * $width-yoda) (3 * $width-yoda) 0 $skin-shadow-yoda,
    (8 * $width-yoda) (3 * $width-yoda) 0 $black-yoda,
    (9 * $width-yoda) (3 * $width-yoda) 0 $skin-yoda,
    (10 * $width-yoda) (3 * $width-yoda) 0 $skin-yoda,
    (11 * $width-yoda) (3 * $width-yoda) 0 $black-yoda,
    (12 * $width-yoda) (3 * $width-yoda) 0 $skin-yoda,
    (6 * $width-yoda) (4 * $width-yoda) 0 $skin-shadow-yoda,
    (7 * $width-yoda) (4 * $width-yoda) 0 $skin-shadow-yoda,
    (8 * $width-yoda) (4 * $width-yoda) 0 $skin-yoda,
    (9 * $width-yoda) (4 * $width-yoda) 0 $skin-yoda,
    (10 * $width-yoda) (4 * $width-yoda) 0 $skin-yoda,
    (11 * $width-yoda) (4 * $width-yoda) 0 $skin-yoda,
    (6 * $width-yoda) (5 * $width-yoda) 0 $jacket-shadow-yoda,
    (7 * $width-yoda) (5 * $width-yoda) 0 $skin-shadow-yoda,
    (8 * $width-yoda) (5 * $width-yoda) 0 $skin-yoda,
    (9 * $width-yoda) (5 * $width-yoda) 0 $skin-yoda,
    (10 * $width-yoda) (5 * $width-yoda) 0 $skin-yoda,
    (11 * $width-yoda) (5 * $width-yoda) 0 $jacket-yoda,
    (5 * $width-yoda) (6 * $width-yoda) 0 $jacket-shadow-yoda,
    (6 * $width-yoda) (6 * $width-yoda) 0 $jacket-shadow-yoda,
    (7 * $width-yoda) (6 * $width-yoda) 0 $jacket-shadow-yoda,
    (8 * $width-yoda) (6 * $width-yoda) 0 $jacket-yoda,
    (9 * $width-yoda) (6 * $width-yoda) 0 $shirt-yoda,
    (10 * $width-yoda) (6 * $width-yoda) 0 $shirt-yoda,
    (11 * $width-yoda) (6 * $width-yoda) 0 $jacket-yoda,
    (5 * $width-yoda) (7 * $width-yoda) 0 $jacket-shadow-yoda,
    (6 * $width-yoda) (7 * $width-yoda) 0 $jacket-shadow-yoda,
    (7 * $width-yoda) (7 * $width-yoda) 0 $jacket-shadow-yoda,
    (8 * $width-yoda) (7 * $width-yoda) 0 $jacket-yoda,
    (9 * $width-yoda) (7 * $width-yoda) 0 $shirt-yoda,
    (10 * $width-yoda) (7 * $width-yoda) 0 $shirt-yoda,
    (11 * $width-yoda) (7 * $width-yoda) 0 $jacket-yoda,
    (12 * $width-yoda) (7 * $width-yoda) 0 $jacket-shadow-yoda,
    (4 * $width-yoda) (8 * $width-yoda) 0 $jacket-shadow-yoda,
    (5 * $width-yoda) (8 * $width-yoda) 0 $jacket-shadow-yoda,
    (6 * $width-yoda) (8 * $width-yoda) 0 $jacket-shadow-yoda,
    (7 * $width-yoda) (8 * $width-yoda) 0 $jacket-shadow-yoda,
    (8 * $width-yoda) (8 * $width-yoda) 0 $jacket-yoda,
    (9 * $width-yoda) (8 * $width-yoda) 0 $shirt-yoda,
    (10 * $width-yoda) (8 * $width-yoda) 0 $shirt-yoda,
    (11 * $width-yoda) (8 * $width-yoda) 0 $jacket-yoda,
    (12 * $width-yoda) (8 * $width-yoda) 0 $jacket-shadow-yoda,
    (13 * $width-yoda) (8 * $width-yoda) 0 $jacket-yoda,
    (14 * $width-yoda) (8 * $width-yoda) 0 $jacket-yoda,
    (15 * $width-yoda) (8 * $width-yoda) 0 $skin-yoda,
    (3 * $width-yoda) (9 * $width-yoda) 0 $handle-yoda,
    (4 * $width-yoda) (9 * $width-yoda) 0 $jacket-shadow-yoda,
    (5 * $width-yoda) (9 * $width-yoda) 0 $jacket-shadow-yoda,
    (6 * $width-yoda) (9 * $width-yoda) 0 $jacket-shadow-yoda,
    (7 * $width-yoda) (9 * $width-yoda) 0 $jacket-shadow-yoda,
    (8 * $width-yoda) (9 * $width-yoda) 0 $jacket-yoda,
    (9 * $width-yoda) (9 * $width-yoda) 0 $belt-yoda,
    (10 * $width-yoda) (9 * $width-yoda) 0 $belt-yoda,
    (11 * $width-yoda) (9 * $width-yoda) 0 $jacket-yoda,
    (13 * $width-yoda) (9 * $width-yoda) 0 $jacket-yoda,
    (14 * $width-yoda) (9 * $width-yoda) 0 $jacket-yoda,
    (3 * $width-yoda) (10 * $width-yoda) 0 $skin-shadow-yoda,
    (4 * $width-yoda) (10 * $width-yoda) 0 $jacket-shadow-yoda,
    (6 * $width-yoda) (10 * $width-yoda) 0 $jacket-shadow-yoda,
    (7 * $width-yoda) (10 * $width-yoda) 0 $jacket-shadow-yoda,
    (8 * $width-yoda) (10 * $width-yoda) 0 $jacket-yoda,
    (9 * $width-yoda) (10 * $width-yoda) 0 $shirt-yoda,
    (10 * $width-yoda) (10 * $width-yoda) 0 $shirt-yoda,
    (11 * $width-yoda) (10 * $width-yoda) 0 $jacket-yoda,
    (14 * $width-yoda) (10 * $width-yoda) 0 $jacket-yoda,
    (3 * $width-yoda) (11 * $width-yoda) 0 $handle-yoda,
    (6 * $width-yoda) (11 * $width-yoda) 0 $jacket-shadow-yoda,
    (7 * $width-yoda) (11 * $width-yoda) 0 $jacket-shadow-yoda,
    (8 * $width-yoda) (11 * $width-yoda) 0 $jacket-yoda,
    (9 * $width-yoda) (11 * $width-yoda) 0 $shirt-yoda,
    (10 * $width-yoda) (11 * $width-yoda) 0 $shirt-yoda,
    (11 * $width-yoda) (11 * $width-yoda) 0 $jacket-yoda,
    (3 * $width-yoda) (12 * $width-yoda) 0 $handle-shadow-yoda,
    (5 * $width-yoda) (12 * $width-yoda) 0 $jacket-shadow-yoda,
    (6 * $width-yoda) (12 * $width-yoda) 0 $jacket-shadow-yoda,
    (7 * $width-yoda) (12 * $width-yoda) 0 $jacket-yoda,
    (8 * $width-yoda) (12 * $width-yoda) 0 $jacket-yoda,
    (9 * $width-yoda) (12 * $width-yoda) 0 $shirt-yoda,
    (10 * $width-yoda) (12 * $width-yoda) 0 $jacket-yoda,
    (11 * $width-yoda) (12 * $width-yoda) 0 $jacket-shadow-yoda,
    (4 * $width-yoda) (13 * $width-yoda) 0 $jacket-shadow-yoda,
    (5 * $width-yoda) (13 * $width-yoda) 0 $jacket-shadow-yoda,
    (6 * $width-yoda) (13 * $width-yoda) 0 $skin-yoda,
    (7 * $width-yoda) (13 * $width-yoda) 0 $jacket-yoda,
    (10 * $width-yoda) (13 * $width-yoda) 0 $jacket-shadow-yoda,
    (11 * $width-yoda) (13 * $width-yoda) 0 $skin-yoda;
}
