@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-ThinItalic.eot');
  src: local('Qanelas Thin Italic'), local('Qanelas-ThinItalic'),
    url('../fonts/qanelas/Qanelas-ThinItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-ThinItalic.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-ThinItalic.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-SemiBoldItalic.eot');
  src: local('Qanelas SemiBold Italic'), local('Qanelas-SemiBoldItalic'),
    url('../fonts/qanelas/Qanelas-SemiBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-SemiBoldItalic.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-Bold.eot');
  src: local('Qanelas Bold'), local('Qanelas-Bold'),
    url('../fonts/qanelas/Qanelas-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-Bold.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-Bold.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-Regular.eot');
  src: local('Qanelas Regular'), local('Qanelas-Regular'),
    url('../fonts/qanelas/Qanelas-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-Regular.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-Regular.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-RegularItalic.eot');
  src: local('Qanelas Regular Italic'), local('Qanelas-RegularItalic'),
    url('../fonts/qanelas/Qanelas-RegularItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-RegularItalic.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-RegularItalic.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-HeavyItalic.eot');
  src: local('Qanelas Heavy Italic'), local('Qanelas-HeavyItalic'),
    url('../fonts/qanelas/Qanelas-HeavyItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-HeavyItalic.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-HeavyItalic.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-Heavy.eot');
  src: local('Qanelas Heavy'), local('Qanelas-Heavy'),
    url('../fonts/qanelas/Qanelas-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-Heavy.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-Heavy.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-Medium.eot');
  src: local('Qanelas Medium'), local('Qanelas-Medium'),
    url('../fonts/qanelas/Qanelas-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-Medium.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-Medium.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-UltraLight.eot');
  src: local('Qanelas UltraLight'), local('Qanelas-UltraLight'),
    url('../fonts/qanelas/Qanelas-UltraLight.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-UltraLight.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-UltraLight.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-LightItalic.eot');
  src: local('Qanelas Light Italic'), local('Qanelas-LightItalic'),
    url('../fonts/qanelas/Qanelas-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-LightItalic.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-LightItalic.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-MediumItalic.eot');
  src: local('Qanelas Medium Italic'), local('Qanelas-MediumItalic'),
    url('../fonts/qanelas/Qanelas-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-MediumItalic.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-MediumItalic.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-Thin.eot');
  src: local('Qanelas Thin'), local('Qanelas-Thin'),
    url('../fonts/qanelas/Qanelas-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-Thin.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-Thin.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-Black.eot');
  src: local('Qanelas Black'), local('Qanelas-Black'),
    url('../fonts/qanelas/Qanelas-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-Black.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-Black.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-BoldItalic.eot');
  src: local('Qanelas Bold Italic'), local('Qanelas-BoldItalic'),
    url('../fonts/qanelas/Qanelas-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-BoldItalic.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-BoldItalic.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-UltraLightItalic.eot');
  src: local('Qanelas UltraLight Italic'), local('Qanelas-UltraLightItalic'),
    url('../fonts/qanelas/Qanelas-UltraLightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-UltraLightItalic.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-UltraLightItalic.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-ExtraBoldItalic.eot');
  src: local('Qanelas ExtraBold Italic'), local('Qanelas-ExtraBoldItalic'),
    url('../fonts/qanelas/Qanelas-ExtraBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-Light.eot');
  src: local('Qanelas Light'), local('Qanelas-Light'),
    url('../fonts/qanelas/Qanelas-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-Light.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-Light.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-ExtraBold.eot');
  src: local('Qanelas ExtraBold'), local('Qanelas-ExtraBold'),
    url('../fonts/qanelas/Qanelas-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-ExtraBold.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-ExtraBold.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-BlackItalic.eot');
  src: local('Qanelas Black Italic'), local('Qanelas-BlackItalic'),
    url('../fonts/qanelas/Qanelas-BlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-BlackItalic.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-BlackItalic.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/qanelas/Qanelas-SemiBold.eot');
  src: local('Qanelas SemiBold'), local('Qanelas-SemiBold'),
    url('../fonts/qanelas/Qanelas-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/qanelas/Qanelas-SemiBold.woff2') format('woff2'),
    url('../fonts/qanelas/Qanelas-SemiBold.woff') format('woff'),
    url('../fonts/qanelas/Qanelas-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pixeloid';
  src: url('../fonts/pixel/PixeloidSansBold-PKnYd.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Pixeloid';
  src: url('../fonts/pixel/PixeloidSans-mLxMm.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
